/*
    Go syntax highlighting

	String:        "s",
	Keyword:       "k",
	Comment:       "c",
	Type:          "n",
	Literal:       "o",
	Punctuation:   "p",
	Plaintext:     "n",
	Tag:           "tag",
	HTMLTag:       "htm",
	HTMLAttrName:  "atn",
	HTMLAttrValue: "atv",
	Decimal:       "m",


 */

.highlight-Go pre {
    background: #333333; !important;
}

.highlight-Go .k {
    color: #ffcc47;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
    color: #59b159
}

.highlight .n {
    color: #ffffff;
}

.highlight .c, .highlight .cm, .highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .o {
    color: #a772af;
}