pre {
    background-color: #1b1b1b;
    color: lawngreen;
}

.highlight pre {
    background: #333333; !important;
}

.highlight .h {
    color: #333;
    font-style: normal;
    font-weight: normal
}

.highlight .k {
    color: orange;
}

.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il, .highlight .m {
    color: #945277
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .s1 {
    color: #59b159
}

.highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt, .highlight .k, .highlight .o {
    font-weight: bold
}

.highlight .kt {
    color: #458
}

.highlight .o {
    color: #a772af;
}

.highlight .c, .highlight .cm, .highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .cp, .highlight .cs {
    color: #999;
    font-weight: bold
}

.highlight .cs {
    font-style: italic
}

.highlight .n {
    color: #ffffff;
}

.highlight .na, .highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
    color: #008080
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #458;
    font-weight: bold
}

.highlight .no {
    color: #094e99
}

.highlight .ni {
    color: #800080
}

.highlight .ne {
    color: #990000;
    font-weight: bold
}

.highlight .nf {
    color: #945277;
    font-weight: bold
}

.highlight .nn {
    color: #555
}

.highlight .nt {
    color: #000080
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .gd {
    color: #000;
    background-color: #fdd
}

.highlight .gd .x {
    color: #000;
    background-color: #faa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #aa0000
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #000;
    background-color: #dfd
}

.highlight .gi .x {
    color: #000;
    background-color: #afa
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #800080;
    font-weight: bold
}

.highlight .gt {
    color: #aa0000
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .sr {
    color: #017936
}

.highlight .ss {
    color: #8b467f
}

.highlight .bp {
    color: #999
}

.highlight .gc {
    color: #999;
    background-color: #EAF2F5
}
