{{define "title"}}Course{{end}}
{{define "head"}}
<style>
    a{
        color: #888888;
    }
    a:hover{
        color: #888888;
    }
    pre{
        color: #888888;
    }
</style>
{{end}}
{{define "content"}}
<main role="main" class="container">
    <div class="col my-3">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header">
                    <h4 style="float:left;">{{.Course.Code}} | {{.Course.Name}}</h4>
                    <p class="text-right"> {{.Course.Semester}} | {{.Course.Year}}</p>
                <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="assignment-tab" data-toggle="tab" href="#assignments" role="tab" aria-controls="assignments" aria-selected="false">Assignments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="participant-tab" data-toggle="tab" href="#participants" role="tab" aria-controls="participants" aria-selected="false">Participants</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {{.Description}}
                    </div>
                    <div class="tab-pane fade" id="assignments" role="tabpanel" aria-labelledby="assignment-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card my-1 border-dark text-dark bg-light">
                                    <div class="card-header">Assignment 1</div>
                                    <div class="card-body">
                                        <h5 class="card-title">Light card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-outline-dark">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card my-1 border-dark text-dark bg-light">
                                    <div class="card-header">Assignment 2</div>
                                    <div class="card-body">
                                        <h5 class="card-title">Light card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-outline-dark">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card my-1 border-dark text-dark bg-light">
                                    <div class="card-header">Assignment 3</div>
                                    <div class="card-body">
                                        <h5 class="card-title">Light card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="#" class="btn btn-outline-dark">Go somewhere</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="participants" role="tabpanel" aria-labelledby="participant-tab">

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Type</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range .Classmates.Items }}
                            <tr>
                                <th scope="row">{{.ID}}</th>
                                <td>{{.Name}}</td>
                                <td>{{.EmailStudent}}</td>
                                <td>{{if .Teacher}} Teacher {{else}} Student {{end}}</td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>



                    </div>
                </div>

            </div>
        </div>
    </div>






</main>
{{end}}
{{define "foot"}}{{end}}