{{define "title"}}Error {{.ErrorCode}}{{end}}
{{define "head"}}{{end}}
{{ define "content" }}
    <main>
        <div class="container pt-5 text-center">
            <h1 class="display-1">Error {{ .ErrorCode }}</h1>
            <h2 class="display-4">{{ .ErrorMessage }}</h2>
            <a href="/"><p class="lead">Go back to the front page</p></a>
        </div>
    </main>
{{ end }}