{{define "title"}}Create Group{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="container">
		<div class="row">

			<div class="col">
				<h1 class="display-4">
					Create new Group
				</h1>
				<h2>Assignment: {{.Assignment.Name}}</h2>

				<hr>
			</div>

		</div>

		<div class="row">

			<div class="col-lg-6">
				<form action="/assignment/{{.Assignment.ID}}/group/create" method="POST">
					<div class="form-group">
						<label for="group_name">Group Name</label>
						<input type="text" class="form-control" name="group_name" id="group_name">
					</div>

					<input type="submit" class="btn btn-primary">
				</form>
			</div>

		</div>
	</div>
{{end}}
{{define "foot"}}{{end}}