{{define "title"}}Reviews{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <div class="row">
        <div class="col">
            <h1 class="display-4">
                Reviews for {{GET_USERNAME .User.ID}}
            </h1>
            <hr>
        </div>
    </div>

    {{if .TotalWeights.IsWeighted}}
        <div class="row">
            <div class="col">
                <h3>Total weights</h3>
                <table class="table table-striped">
                    <tr>
                        <td>Score</td>
                        <td>{{.TotalWeights.Score}}</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>{{.TotalWeights.Total}}</td>
                    </tr>
                    <tr>
                        <td>Percent</td>
                        <td>{{.TotalWeights.Percent}}%</td>
                    </tr>
                </table>
                <hr>
            </div>
        </div>
    {{end}}

    {{$WEIGHTS := .Weights}}
    {{$i := 1}}

    <div class="row">
        <div class="col-12">
            <h3>Reviews ({{len .Reviews}})</h3>
        </div>
        {{range $index, $R := .Reviews}}
            <div class="col-lg-6">
                <form>
                {{$Weight := index $WEIGHTS $index}}
                <div class="card mb-3">
                    {{$temp := index . 0}}
                    <div class="card-header bg-secondary">
                        <h5 class="card-title text-light mb-0">Review by {{GET_USERNAME $temp.UserReviewer}}</h5>{{$i = INCREMENT $i}}
                    </div>
                    <div class="card-body">
                        <!-- TODO (Svein): Get the other field types -->
                        {{range $R}}
                            {{if eq .Type "radio"}}
                                {{$A := .}}
                                {{$Answer := ATOI .Answer}}
                                {{$V := 1}}
                                <fieldset class="mb-3">
                                    <legend>{{.Label}}{{if $Weight.IsWeighted}} <em>(Weight: {{.Weight}})</em>{{end}}</legend>
                                    {{range .Choices}}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{$A.Name}}" id="{{$A.Name}}_{{$V}}" value="{{$V}}"{{if eq $V $Answer}} checked{{end}} disabled>
                                            <label class="form-check-label" for="{{$A.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else if eq .Type "multi-checkbox"}}
                                {{$A := .Answer}}
                                {{$Value := SPLIT_STRING $A.Value ","}}
                                {{$V := 1}}
                                <fieldset class="mb-3">
                                    <legend>{{.Label}}</legend>
                                    {{range SPLIT_CHOICES .Choices}}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="{{.Name}}" id="{{.Name}}_{{$V}}" value="{{$V}}"{{if CONTAINS (ITOA $V) $Value}} checked{{end}} disabled>
                                            <label class="form-check-label" for="{{.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else}}
                                <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}} mb-3">
                                    {{if eq .Type "text"}}
                                        <label for="{{.Name}}">{{.Label}}{{if $Weight.IsWeighted}}&nbsp;<em>(Weight: {{.Weight}})</em>{{end}}</label>
                                        <input type="text" name="{{.Name}}" id="{{.Name}}" class="form-control" value="{{.Answer}}" disabled>
                                    {{else if eq .Type "url"}}
                                        <label for="{{.Name}}">{{.Label}}{{if $Weight.IsWeighted}}&nbsp;<em>(Weight: {{.Weight}})</em>{{end}}</label>
                                        <input type="url" name="{{.Name}}" id="{{.Name}}" class="form-control" value="{{.Answer}}" disabled>
                                        <a href="{{.Answer}}" target="_blank">Open in new tab</a>
                                    {{else if eq .Type "textarea"}}
                                        <label for="{{.Name}}">{{.Label}}{{if $Weight.IsWeighted}}&nbsp;<em>(Weight: {{.Weight}})</em>{{end}}</label>
                                        <textarea name="{{.Name}}" id="{{.Name}}" class="form-control" rows="5" disabled>{{.Answer}}</textarea>
                                    {{else if eq .Type "number"}}
                                        <label for="{{.Name}}">{{.Label}}{{if $Weight.IsWeighted}}&nbsp;<em>(Weight: {{.Weight}})</em>{{end}}</label>
                                        <input type="number" name="{{.Name}}" id="{{.Name}}" class="form-control" value="{{.Answer}}" disabled>
                                    {{else if eq .Type "checkbox"}}
                                        <input type="checkbox" name="{{.Name}}" id="{{.Name}}" class="form-check-input"{{if eq .Answer "on"}} checked{{end}} disabled>
                                        <label class="form-check-inline" for="{{.Name}}">{{.Label}}{{if $Weight.IsWeighted}}&nbsp;<em>(Weight: {{.Weight}})</em>{{end}}</label>
                                    {{else if eq .Type "paragraph"}}
                                        <legend>{{.Label}}</legend>
                                        <p class="lead">{{.Description}}</p>
                                    {{end}}

                                    {{if ne .Type "paragraph"}}
                                        <small class="form-text text-muted">{{.Description}}</small>
                                    {{end}}
                                </div>
                            {{end}}
                            {{if .HasComment}}
                                <div class="form-group form-check">
                                    <label for="{{.Name}}_comment">Comment <em>({{.Label}})</em></label>
                                    <textarea name="{{.Name}}_comment" id="{{.Name}}_comment" rows="3" class="form-control" disabled>{{.Comment.String}}</textarea>
                                </div>
                            {{end}}
                        {{end}}

                        {{if $Weight.IsWeighted}}
                            <hr>
                            <h2>Weights</h2>
                            <table class="table table-striped">
                                <tr>
                                    <td>Score</td>
                                    <td>{{$Weight.Score}}</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>{{$Weight.Total}}</td>
                                </tr>
                                <tr>
                                    <td>Percent</td>
                                    <td>{{$Weight.Percent}}%</td>
                                </tr>
                            </table>
                        {{end}}
                    </div>
                </div>
                </form>
            </div>
        {{end}}

        {{if eq $i 1}}
            <div class="col">
                <h3>This assignment has not been reviewed yet.</h3>
            </div>
        {{end}}
    </div>

    <hr>
    <a href="/admin/assignment/{{.AssignmentID}}/submissions" class="btn btn-outline-dark mb-5">Go back</a>
{{end}}
{{define "foot"}}{{end}}