version: "3.1"

services:

  webservice:
    build: webservice
    depends_on:
    - database
    ports:
    - 8088:8088
    links:
    - database
    - peerservice
    environment:
      DATABASE_URL: database:3306
      DATABASE_USER: root
      DATABASE_PASSWORD: root
      DATABASE_DATABASE: cs53
    restart: always

  peerservice:
    build: peerservice
    depends_on:
      - database
    ports:
      - 8087:8087
    links:
    - database
    environment:
      DATABASE_URL: database:3306
    restart: always

  adminer:
    image: adminer
    restart: always
    ports:
    - 8080:8080

  database:
    build: dbservice
    ports:
    - 3306:3306
    environment:
      MYSQL_DATABASE: cs53
      MYSQL_ROOT_PASSWORD: root