{{define "title"}}Change students password{{end}}
{{define "head"}}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <style>
        .id-col {
            font-weight: 700;
        }
    </style>
{{end}}
{{ define "content" }}
    <div class="alert alert-info"><strong>Note:</strong> This is a temporary solution for the alpha version!
    </div>
    <h1 class="display-4">Manage Students</h1> <!-- TODO brede : refactor names -->

    <div class="row">
        <div class="form-group col-lg-8 col-md-10 col-sm-12">
            <form action="/admin/changepass/list" method="post" id="form">
                <label for="course_id">Select Course</label>
                <select name="course_id" id="course_id" class="form-control" required>
                    <option value="-1">None</option>
                    {{ if .SelectedCourse }}
                        {{$ID := .SelectedCourse}}
                        {{range $C := .Courses }}
                            <option value="{{$C.ID}}" {{if eq $C.ID $ID}} selected{{end}}>{{$C.Code}} {{$C.Name}}</option>
                        {{end}}
                    {{ else }}
                        {{range $C := .Courses }}
                            <option value="{{$C.ID}}">{{$C.Code}} {{$C.Name}}</option>
                        {{end}}
                    {{ end}}
                </select>
                <button class="btn btn-success my-3" type="submit">Get student list</button>
            </form>

            <table class="table table-striped table-sm" data-toggle="table" data-pagination="true" data-search="true"
                   data-page-size="100">
                <thead>
                <tr>
                    <th data-sortable="true" scope="col">#</th>
                    <th data-sortable="true" scope="col">Name</th>
                    <th data-sortable="true" scope="col">Email</th>
                    <th scope="col">Change Password</th>
                    <th scope="col">Remove from course</th>
                </tr>
                </thead>
                <tbody>
                {{ range .Students }}
                    {{ if not .Teacher }}
                        <tr class="clickable-row">
                            <td class="id-col">{{ .ID }}</td>
                            <td>{{ .Name }}</td>
                            <td><a href="mailto:{{ .EmailStudent }}">{{ .EmailStudent }}</a></td>
                            <td>
                                <button class="btn btn-outline-success btn-sm" onclick="changePass({{.Name}}, {{.ID}})"
                                        style="font-size:12px">
                                    Change Password
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-outline-danger btn-sm" onclick="removeUser({{.Name}}, {{.ID}})"
                                        style="font-size:12px">
                                    Remove from course
                                </button>
                            </td>
                        </tr>
                    {{ end }}
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>

{{ end }}
{{define "foot"}}
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    <script>

        /**
         * changePass
         *
         * Asks if teacher wants to change name, lets teacher change it himself and copy it
         * and sends the teacher to the correct url
         *
         * @var studentName
         * @var id
         * */
        function changePass(studentName, id) {
            let pass = Math.random().toString(36).substr(2, 8);

            let ans = prompt("You are about to change " + studentName + "'s password to " + pass + "\nYou may also change the password yourself below.\nREMEMBER: Copy and send this password to the student!\nConfirm?", pass);
            if (ans) {
                window.alert("Changing password to " + ans);
                window.location.href = window.location.origin + "/admin/changepass?vars=" + ans + '§' + id;
            } else {
                window.alert("Not changing the password!");
                let form = document.getElementById('form');
                form.getElementById('course_id').value = {{ .SelectedCourse }};
                form.submit();
            }
        }

        /**
         * removeUser
         *
         * Ask if teacher wants to remove user from course and then removes the user if yes
         *
         * @var studentName
         * @var id
         *
         * */
        function removeUser(studentName, id) {
            let ans = confirm("Warning! You are about to remove " + studentName + " from course with id: " + {{ .SelectedCourse}} +"\nConfirm?");
            if (ans) {
                window.alert("Removing " + studentName + " from course!");
                window.location.href = window.location.origin + "/admin/changepass?removeVars=" + id + '§' + {{ .SelectedCourse }};
            } else {
                window.alert("Not removing " + studentName + " from course!");
                let form = document.getElementById('form');
                form.getElementById('course_id').value = {{ .SelectedCourse }};
                form.submit();
            }
        }
    </script>
{{end}}