{{define "title"}}Forgotten Password{{end}}
{{define "head"}}{{end}}
{{ define "content" }}
    <main>
        <div class="container pt-5 text-center">
            <div class="alert alert-info"><strong>Note:</strong> This is a temporary solution for the alpha version!
            </div>
            <h1 class="display-1">Forgotten Password?</h1>
            <h2 class="display-4">Contact your course leader</h2>
            <h4 class="display-10">Please include full name, correct e-mail and what course(s) you're in :)</h4>
            <a href="/"><p class="lead">Go back to the login page</p></a>
        </div>
    </main>
{{ end }}
{{define "foot"}}
{{end}}