{{define "title"}}Homepage{{end}}
{{define "head"}}{{end}}
{{ define "content" }}
    <main>
        <div class="container pt-3">
            <div class="row">
                <div class="col">
                    <form action="/" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-sm border-secondary" name="courseID"
                                   id="course-id" placeholder="Course id" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-secondary btn-sm">Join
                                    course
                                </button>
                            </div>
                        </div>
                    </form>
                    {{ if .Message }}
                        <div class="alert alert-success" id="joinedOrNah">
                            <strong>Notice!</strong> {{ .Message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {{ end }}
                </div>
            </div><!-- /.row -->

            {{ if .Courses }}<h2>Courses</h2>
            <hr>{{end}}
            <div class="row">
                {{ range .Courses }}
                    <div class="col-md-6 col-sm-12 mb-3">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h2 class="display-4">{{ .Code }}</h2>
                                <h3 class="mb-3">{{ .Name }}</h3>
                                <hr>
                                <a href="/course/?id={{ .ID }}" class="btn btn-outline-dark">See Course</a>
                            </div>
                        </div>
                    </div>

                {{ end }}

            </div> <!-- /.row -->
            {{ if .Assignments }}<h2>Active Assignments</h2>
            <hr>{{end}}
            <div class="row">

                {{ range .Assignments }}
                    <div class="col-md-6 col-sm-12 mb-3">
                        <div class="card shadow-sm{{if DEADLINEDUE .Assignment.Deadline}} bg-secondary text-light{{ else }} text-dark {{end}}">
                            <div class="card-body">
                                <h2 class="display-5">{{.Assignment.Name}}</h2>
                                <h5>
                                    <span class="badge {{if DEADLINEDUE .Assignment.Deadline}}badge-dark{{ else}} badge-secondary{{end}}">{{.CourseCode}}</span>
                                </h5>
                                <p{{if DEADLINEDUE .Assignment.Deadline}} class="text-danger"{{end}}>
                                    <strong>Deadline: </strong> {{PRETTYTIME .Assignment.Deadline}}</p>
                                <hr class="bg-light">
                                <a href="/assignment/{{.Assignment.ID}}"
                                   class="btn btn-outline-{{if DEADLINEDUE .Assignment.Deadline}}light{{else}}dark{{end}} btn-sm">See
                                    details</a>
                            </div>
                        </div>
                    </div>
                {{ end }}

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </main>
{{ end }}
{{define "foot"}}
{{end}}
