{{define "title"}}Homepage{{end}}
{{define "head"}}{{end}}
{{ define "content" }}
    <main>
        <div class="container pt-3">
            <div class="row">
                <div class="col">
                    <form action="/" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-sm border-secondary" name="courseID"
                                   id="course-id" placeholder="Course hash" required>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-secondary btn-sm">Join
                                    course
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.row -->

            {{ if .Courses }}<h2>Courses</h2>
            <hr>{{end}}
            <div class="row">
                {{ range .Courses }}
                    <div class="col-md-6 col-sm-12 mb-3">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h2 class="display-4">{{ .Code }}</h2>
                                <h3 class="mb-3">{{ .Name }}</h3>
                                <hr>
                                <a href="/course/{{ .ID }}" class="btn btn-outline-dark">See Course</a>
                            </div>
                        </div>
                    </div>

                {{ end }}

            </div> <!-- /.row -->

            {{ $s := .isStudent}}
            {{ if .Assignments }}<h2>Active Assignments</h2>
            <hr>{{end}}
            <div class="row">

                {{ range .Assignments }}
                    <div class="col-md-6 col-sm-12 mb-3">
                        <div class="card shadow-sm{{if DEADLINEDUE .Assignment.Deadline}} bg-secondary text-light{{ else }} text-dark {{end}}">
                            <div class="card-body">
                                <h2 class="display-5">{{.Assignment.Name}}</h2>
                                <hr class="bg-light">
                                <h3 class="display-5">Submission</h3>
                                <h5>
                                    <span class="badge {{if DEADLINEDUE .Assignment.Deadline}}badge-dark{{ else}} badge-secondary{{end}}">{{.CourseCode}}</span>
                                    {{if .Assignment.GroupDelivery}}
                                        <span class="badge badge-info">Group Based</span>
                                    {{end}}
                                    <!-- Only display submission status if it's a student -->
                                    {{ if $s }}
                                        {{if .Delivered }}
                                            <span class="badge badge-success">Submitted</span>
                                        {{ else}}
                                            <span class="badge badge-warning">Not submitted</span>
                                        {{end}}
                                    {{end}}
                                </h5>
                                {{if DEADLINEDUE .Assignment.Deadline}}
                                    <h5>
                                        <span class="badge badge-danger">Deadline passed</span>
                                    </h5>
                                {{else}}
                                    <p><strong>Deadline: </strong> {{PRETTYTIME .Assignment.Deadline}}</p>
                                {{end}}
                                <hr class="bg-light">

                                <!-- Peer Review if student has delivered and deadline to assignment is due-->
                                {{if .Assignment.ReviewEnabled}}
                                    {{if (or (.Delivered) (not $s))}}
                                        {{ if DEADLINEDUE .Assignment.Deadline}}
                                            <h3 class="display-5">Peer Review</h3>

                                            {{ if $s}}
                                                <h5>
                                                    {{if gt .Reviews 0}}
                                                        <span class="badge badge-warning">Review{{ if ne .Reviews 1}}s{{end}} pending: {{.Reviews}}</span>
                                                    {{ else if eq .Reviews -404}}
                                                        <span class="badge badge-warning">Reviews N/A</span>
                                                    {{else}}
                                                        <span class="badge badge-success">Review done</span>
                                                    {{end}}
                                                </h5>
                                            {{ end}}

                                            {{if DEADLINEDUE .Assignment.ReviewDeadline}}
                                                <h5>
                                                    <span class="badge badge-danger">Deadline passed</span>
                                                </h5>
                                            {{else}}
                                                <p><strong>Deadline: </strong> {{PRETTYTIME .Assignment.ReviewDeadline}}</p>
                                            {{end}}

                                            <hr class="bg-light">
                                        {{ end }}
                                    {{ end }}
                                {{ end }}

                                <a href="/assignment/{{.Assignment.ID}}"
                                   class="btn btn-outline-{{if DEADLINEDUE .Assignment.Deadline}}light{{else}}dark{{end}} btn-sm">See
                                    details</a>
                            </div>
                        </div>
                    </div>
                {{ end }}

            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </main>
{{ end }}
{{define "foot"}}
{{end}}
