{{define "title"}}Register{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <div class="container pt-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-6">
                <h1 class="display-4 mb-3">Sign up</h1>

                <form action={{ .Action }} class="form-register" method="POST">

                    <div class="form-group">
                        <label for="inputName">Name</label>
                        <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required
                               autofocus>
                    </div>

                    <div class="form-group">
                        <label for="inputEmail">Email address</label>
                        <input type="email" name="email" id="inputEmail" class="form-control"
                               placeholder="Email address" required>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control"
                               placeholder="Password" required>
                    </div>

                    <div class="form-group">
                        <label for="inputPasswordConfirm">Confirm Password</label>
                        <input type="password" name="passwordConfirm" id="inputPasswordConfirm" class="form-control"
                               placeholder="Confirm Password" required>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Sign up</button>
                </form>

                <a href="/login">Already have a user? Sign in</a>
            </div>
        </div>
    </div>
{{end}}
{{define "foot"}}{{end}}