{{define "title"}}Dashboard: Review{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="row">
    <div class="col-12">
        <h1 class="display-4">Review Forms <a href="/admin/review/create" class="btn btn-success btn-sm">New</a></h1>
        <hr>
    </div>
</div>

<div class="row">
    {{range .Reviews}}
    <div class="col-4">
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <h5 class="card-title">{{.Form.Name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{PRETTYTIME .Form.Created}}</h6>
                <p class="card-text">{{.Form.Description}}</p>
                <p>
                    <a href="/admin/review/update/{{.ID}}" class="btn btn-outline-dark">Edit</a>
                </p>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}
{{define "foot"}}{{end}}