{{define "title"}}Update Review{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    {{if .Errors}}
        {{range .Errors}}
            <div class="alert alert-warning">{{.}}</div>
        {{end}}
    {{end}}
    <div class="row" id="output"></div>
{{end}}
{{define "foot"}}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script src="/static/js/form-builder.js"></script>
    <script>
        let formBuilder = new FormBuilder({
            title: 'Update Review Form',
            description: '',
            request: '/admin/review/update',
            output: document.getElementById('output'),
        });

        formBuilder.import({{.formJSON}})
    </script>
{{end}}