{{define "navbar"}}
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark flex-md-nowrap shadow-sm">
        <div class="container-fluid">
            <a href="/admin" class="navbar-brand">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Sign out</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Homepage</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/course" class="nav-link">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/assignment" class="nav-link">Assignments</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/submission" class="nav-link">Submission Forms</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/review" class="nav-link">Review Forms</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/changepass" class="nav-link">Change Student Passwords</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/faq" class="nav-link">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/settings" class="nav-link">Settings</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{{end}}