{{define "sidebar"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 d-none d-lg-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/admin/course" class="nav-link">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/assignment" class="nav-link">Assignments</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/submission" class="nav-link">Submissions</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/review" class="nav-link">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/faq" class="nav-link">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/settings" class="nav-link">Settings</a>
                        </li>
                    </ul>
                </div>
            </div>

            <main role="main" class="col-lg-10 ml-sm-auto px-4">
                {{template "content" .}}
            </main>
        </div>
    </div>
{{end}}