{{define "sidebar"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 d-none d-lg-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/admin" class="nav-link{{if and (HasPrefix .RequestURI "/admin") (lt (len .RequestURI) 8)}} active{{end}}">
                                <i class="fas fa-home"></i>Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/course" class="nav-link{{if HasPrefix .RequestURI "/admin/course"}} active{{end}}">
                                <i class="fas fa-users"></i>Courses
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/assignment" class="nav-link{{if HasPrefix .RequestURI "/admin/assignment"}} active{{end}}">
                                <i class="fas fa-clock"></i>Assignments
                            </a>
                        </li>

                    </ul>
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Forms</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/admin/submission" class="nav-link{{if HasPrefix .RequestURI "/admin/submission"}} active{{end}}">
                                <i class="fas fa-clipboard-list"></i>Submission Forms
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/review" class="nav-link{{if HasPrefix .RequestURI "/admin/review"}} active{{end}}">
                                <i class="fas fa-clipboard-check"></i>Review Forms
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Settings</h6>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a href="/admin/changepass" class="nav-link{{if HasPrefix .RequestURI "/admin/changepass"}} active{{end}}">
                                <i class="fas fa-user-cog"></i>Manage Students
                            </a> <!-- TODO brede : refactor names here -->
                        </li>
                        <li class="nav-item">
                            <a href="/admin/settings" class="nav-link{{if HasPrefix .RequestURI "/admin/settings"}} active{{end}}">
                                <i class="fas fa-cog"></i>Settings
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="/admin/faq" class="nav-link{{if HasPrefix .RequestURI "/admin/faq"}} active{{end}}">
                                <i class="fas fa-question-circle"></i>FAQ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <main role="main" class="col-lg-10 ml-sm-auto px-4">
                {{template "content" .}}
            </main>
        </div>
    </div>
{{end}}