{{define "title"}}Create Assignment{{end}}
{{define "head"}}
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
{{end}}
{{define "content"}}
    <form action="/admin/assignment/create" method="POST">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Create assignment <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#templatesModal">Templates</button></h1>
            </div>
        </div>

        <hr>
        <!-- TODO (Svein): Make this for horizontal. See https://getbootstrap.com/docs/4.3/components/forms/#horizontal-form -->
        <div class="row">
            <div class="col-12 col-lg">
                <div class="form-group">
                    <label for="assignment_title">Title</label>
                    <input type="text" id="assignment_title" name="assignment_title" class="form-control" placeholder="Assignment Title">
                </div>

                <div class="form-group">
                    <label for="assignment_course_id">Course</label>
                    <select name="assignment_course_id" id="assignment_course_id" class="form-control">
                        {{range .Courses}}
                            <option value="{{.ID}}">{{.Code}} {{.Name}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="assignment_publish">Publish</label>
                    <div class="input-group">
                        <input type="datetime-local" name="assignment_publish" id="assignment_publish" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="assignment_publish_now">Now</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="assignment_deadline">Deadline</label>
                    <input type="datetime-local" name="assignment_deadline" id="assignment_deadline" class="form-control" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">
                </div>

                <div class="form-group">
                    <label for="simplemde">Description</label>
                    <textarea name="assignment_description" id="simplemde" placeholder="Description (Hint: Markdown)"></textarea>
                </div>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="assignment_enable_review" id="assignment_enable_review">
                    <label class="custom-control-label" for="assignment_enable_review">Enable Review</label>
                </div>
            </div>

            <div class="col-12 col-lg">
                <div class="form-group">
                    <label for="assignment_type">Submission Form</label>
                    <select name="assignment_type" id="assignment_type" class="form-control">
                        <option value="">None</option>
                        {{range .Submissions}}
                            <option value="{{.ID}}">{{.Form.Name}}</option>
                        {{end}}
                        <!-- TODO (Svein): Create an API-call for getting the JSON og the submission form -->
                    </select>
                </div>

                <hr>

                <div class="row">
                    <div class="col">
                        <h4>Preview</h4>
                        <hr>
                        <div class="alert alert-info"><strong>Coming:</strong> Under development</div>
                    </div>
                </div>
            </div>

            <div class="col-12 py-3">
                <input type="submit" class="btn btn-success">
            </div>
        </div>

        <div id="review_container">
            <hr>

            <div class="row">
                <div class="col">
                    <h2 class="display-4">Review Form</h2>
                    <hr>
                    <div class="alert alert-info"><strong>Coming:</strong> Under development</div>
                </div>
            </div>

            <div class="row pb-5">
                <div class="col-md-3">
                    <p class="lead">Add field to form</p>
                    <hr>
                    <button type="button" class="btn btn-light btn-block border" id="btn_textfield">Textfield</button>
                    <button type="button" class="btn btn-light btn-block border" id="btn_textarea">Textarea</button>
                    <button type="button" class="btn btn-light btn-block border" id="btn_checkbox">Checkbox</button>
                    <button type="button" class="btn btn-light btn-block border" id="btn_radio">Radio</button>
                    <hr>
                </div>

                <div class="col-md-9" id="output">

                </div>
            </div>
        </div>

    </form>
{{end}}
{{define "foot"}}
    <div class="modal fade" id="templatesModal" tabindex="-1" role="dialog" aria-labelledby="templatesModel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header bg-info text-light py-2">
                    <h5 class="modal-title">Select template</h5>
                    <button class="close text-light" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body py-2">

                </div>

                <div class="modal-footer bg-light py-2">
                    <button class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button class="btn btn-success btn-sm">Load template</button>
                </div>

            </div>
        </div>
    </div>

    <script src="/static/js/simplemde.min.js"></script>
    <script>
        (function() {
            // Enable the SmpleMDE
            let simplemde = new SimpleMDE({
                element: document.getElementById('simplemde'),
                hideIcons: ["side-by-side", "fullscreen"],
            });

            // Get the checkbox for enabling review
            let enableReviewCheckbox = document.getElementById('assignment_enable_review');
            // Get the review-container
            let reviewContainer = document.getElementById('review_container');
            // Hide/display the review-container
            reviewContainer.hidden = !enableReviewCheckbox.checked;
            // Hide/display the review-container based on the checkbox
            enableReviewCheckbox.addEventListener('click', () => {
                reviewContainer.hidden = !enableReviewCheckbox.checked;
            });

            let publishNowButton = document.getElementById('assignment_publish_now');
            let publishField = document.getElementById('assignment_publish');
            publishNowButton.addEventListener('click', () => {
                publishField.value = new Date().toISOString().substring(0, 16);
            });
        })();
    </script>
{{end}}