{{define "navbar"}}
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a href="/" class="navbar-brand">CSAMS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        {{if .Auth}}
                            <li class="nav-item">
                                <a href="/user" class="nav-link">Profile</a>
                            </li>

                            {{if .IsTeacher}}
                                <li class="nav-item">
                                    <a href="/admin" class="nav-link">Dashboard</a>
                                </li>
                            {{end}}

                            <li class="nav-item">
                                <a tabindex="0" class="nav-link" role="button" data-toggle="popover"
                                   data-trigger="focus">
                                    Notifications {{if gt .UnreadNotifications 0}}<span class="badge badge-danger">{{.UnreadNotifications}}</span>{{end}}
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/logout" class="nav-link">Sign out</a>
                            </li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="popover-content" class="hide sr-only">
        {{range .Notifications}}
            <a href="/notification/{{.ID}}" class="{{if .Active}}text-white{{end}}">
                <div class="card {{if .Active}} bg-danger{{end}}" style="margin-bottom: 3px; width: 150px;">
                    <div class="card-body {{if .Active}}text-white{{else}}text-dark{{end}}">
                        {{.Message}}
                    </div>
                </div>
            </a>
        {{end}}
    </div>
{{end}}