{{define "title"}}Dashboard{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <h2 class="display-4 mb-3">Courses <a href="/admin/course/create" class="btn btn-success btn-sm px-3">New</a></h2>
    <hr>
    <div class="row">
        <!-- TODO Brede : only show active courses -->
        {{ range .Courses.Items }}
            <div class="col-12 col-md-6 col-xl mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="display-4">{{ .Code }}</h2>
                        <h3 class="mb-3">{{ .Name }}</h3>
                        <hr>
                        <a href="#" class="btn btn-dark btn-sm">See assignments</a>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>

    <h2 class="display-4 mb-3">Assignments <a href="/admin/assignment/create"
                                              class="btn btn-success btn-sm px-3">New</a></h2>
    <hr>
    <div class="row">
        <!-- TODO Brede : only show active assignments -->
        {{range .Assignments}}
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="display-5">{{ .Name }}</h2>
                        <h5><code>COURSE_CODE</code></h5>
                        <p><strong>Deadline: </strong> {{ .Deadline }}</p>
                        <p class="card-text">{{ .Description }}</p>
                        <hr>
                        <a href="/admin/assignment/{{.ID}}" class="btn btn-outline-dark btn-sm">See details</a>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
{{end}}
{{define "foot"}}
{{end}}