{{define "title"}}FAQ{{end}}
{{define "head"}}
    <!-- This is for the editing -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <style>
        .CodeMirror {
            height: 300px;
        }

        .CodeMirror-code::selection {
            background: #000;
        }

        .CodeMirror-code::-moz-selection {
            background: #000;
        }
    </style>
{{end}}
{{define "content"}}

    <h2 class="display-4 mb-3" style="float:left;">Frequently Asked Questions <a href="/admin/faq"
                                                                                 class="btn btn-primary btn-sm px-3">Back</a>
    </h2>
    <p class="text-right" style="margin-top: 20px;"><strong>Last Updated:</strong> {{ PRETTYTIME .Content.Timestamp }}
    </p>

    <br>
    <br>
    <div>
        <form action="/admin/faq/update" method="post">
            <div class="row">
                <div class="form-group col-lg-10 col-md-12 col-sm-12 col-xs-12"
                     id="question-form">
                    <label for="rawQuestions" class="text-dark">Edit markdown</label>
                    <textarea name="rawQuestions" id="rawQuestions"
                              class="form-control"
                              placeholder="This should not be empty! >:(">{{ .Content.Questions }}</textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-success" style="margin-bottom: 30px;">Update</button>
        </form>
    </div>

{{end}}
{{define "foot"}}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        new SimpleMDE({
            element: document.getElementById("rawQuestions"),
            hideIcons: ["side-by-side", "fullscreen"],
            lineWrapping: true,
        });
    </script>
{{end}}