{{define "title"}}FAQ{{end}}
{{define "head"}}
{{end}}
{{define "content"}}
    <h2 class="display-4 mb-3" style="float:left;">Frequently Asked Questions <a href="/admin/faq/edit"
                                                                                 class="btn btn-success btn-sm px-3">Edit</a>
    </h2>
    <p class="text-right" style="margin-top: 20px"><strong>Last Updated:</strong> {{ PRETTYTIME .Updated.Date }}</p> <!-- TODO time-norwegian -->

    <br>
    <br>
    <div>
        <div class="" id="faq">
            {{ .Questions }}
        </div>
    </div>

{{end}}
{{define "foot"}}
{{end}}