{{define "title"}}FAQ{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <!-- Inspiration from here: https://www.codeply.com/go/syFXJL6m5p/bootstrap-4-faq-accordion -->

    <div class="container py-3">
    <div class="row">
        <div class="col-10 mx-auto">
            <div class="accordion" id="faqExample">
                <h2 class="display-4 mb-3">Frequently Asked Questions</h2>
                <!--
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    Q:
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                             data-parent="#faqExample">
                                            <div class="card-body">
                                                <b>Answer:</b>
                                            </div>
                                        </div>
                                    </div>


                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Q: What is Bootstrap 4?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                                        <div class="card-body">
                                            Bootstrap is the most popular CSS framework in the world. The latest version released in
                                            2018 is Bootstrap 4. Bootstrap can be used to quickly build responsive websites.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                Q. What is another question?
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                         data-parent="#faqExample">
                                        <div class="card-body">
                                            The answer to the question can go here.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            -->

            </div>
        </div>
        <!--/row-->
    </div>
    <!--container-->

{{end}}
{{define "foot"}}{{end}}