{{define "title"}}Scheduler{{end}}
{{define "head"}}{{end}}
{{define "content"}}

<h1>Scheduled tasks:</h1>
<hr>
<div class="row">
{{range .Payloads}}
    <div class="col-xl-4 col-md-6 col-sm-12 mb-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="float-right text-secondary">ID: {{.ID}}</h5>
                <h2 class="display-5">Assignment ID: {{.AssignmentID}}</h2>
                <h2 class="display-5">Submission ID: {{.SubmissionID}}</h2>
                <h5>
                    <span class="badge badge-success">{{.Task}}</span>
                </h5>
                <p><strong>Deadline: </strong> {{PRETTYTIME .ScheduledTime}}</p>
                <p><strong>Reviewers: </strong> {{.Data.Reviewers}}</p>
                <hr class="bg-light">
                <p>Payload: </p>
                <code class="json">{{.Data}}</code>
                <hr class="bg-light">
                <form action="/admin/scheduler/delete" method="post" id="deleteForm">
                    <div class="form-group">
                        <input type="hidden" form="deleteForm" id="assid" name="assid" value="{{.AssignmentID}}">
                        <input type="hidden" form="deleteForm" id="subid" name="subid" value="{{.SubmissionID}}">
                    </div>
                    <input type="submit" form="deleteForm" class="btn btn-outline-danger" value="Delete">
                </form>
                <p>ps: to change reviewers or deadline, update this in assignment settings</p>
            </div>
        </div>
    </div>
{{end}}
</div>

{{end}}
{{define "foot"}}{{end}}