{{define "title"}}Create Assignment{{end}}
{{define "head"}}
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
    <style>
        .CodeMirror {
            height: 300px;
        }
        .CodeMirror-code::selection {
            background: #000;
        }
        .CodeMirror-code::-moz-selection {
            background: #000;
        }
    </style>
{{end}}
{{define "content"}}
    {{if .Errors}}
        {{range .Errors}}
            <div class="alert alert-warning">{{.}}</div>
        {{end}}
    {{end}}
    <form action="/admin/assignment/create" method="POST">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Create assignment</h1>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-12 col-lg">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Assignment Name"
                           value="{{.AssignmentName}}" required>
                </div>

                <div class="form-group">
                    <label for="course_id">Course</label>
                    <select name="course_id" id="course_id" class="form-control" required>
                        {{range .Courses }}
                            <option value="{{.ID}}">{{.Code}} {{.Name}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="publish">Publish</label>
                    <div class="input-group">
                        <input type="datetime-local" name="publish" id="publish" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="datetime-local" name="deadline" id="deadline" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="simplemde">Description</label>
                    <textarea name="description" id="simplemde"
                              placeholder="Description (Hint: Markdown)">{{.AssignmentDescription}}</textarea>
                </div>
            </div>

            <div class="col-12 col-lg">

                <h3>Submission Form</h3>
                <div class="form-group">
                    <label for="submission_id">Select Form</label>
                    <select name="submission_id" id="submission_id" class="form-control">
                        <option value="0">None</option>
                        {{range .Submissions}}
                            <option value="{{.ID}}">{{.Form.Name}}</option>
                        {{end}}
                    </select>
                </div>

                <!-- TODO (Svein): Fully implement this
                <div id="submission_container" class="sr-only">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="group_assignment" name="group_assignment">
                        <label class="custom-control-label" for="group_assignment">Enable group assignment</label>
                    </div>
                </div>
                -->

                <hr>

                <h3>Peer Review</h3>

                <h5>Review Form</h5>
                <div class="form-group">
                    <label for="review_id">Select Form</label>
                    <select name="review_id" id="review_id" class="form-control">
                        <option value="0">None</option>
                        {{range $R := .Reviews}}
                            <option value="{{$R.ID}}">{{$R.Form.Name}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="sr-only" id="review_deadline_container">
                    <button type="button" id="toggleReview" class="btn btn-danger btn-sm mb-3">Disable</button>

                    <div class="form-group">
                        <label for="review_deadline">Review Deadline</label>
                        <input type="datetime-local" name="review_deadline" id="review_deadline" class="form-control">
                    </div>

                    <hr>

                    <h5>Required reviews done</h5>
                    <div class="form-group">
                        <label for="reviewers">How many submissions is required for each student to review on this assignment.</label>
                        <select name="reviewers" id="reviewers" class="form-control" required>
                            <script>
                                for (let i = 0; i <= 6; i++) {
                                    if (i === 0){
                                        document.write(`<option value="${i}">Any</option>`);
                                    } else {
                                        document.write(`<option value="${i}">${i}</option>`);
                                    }
                                }
                            </script>
                        </select>
                        <small class="form-text text-muted">Set to <code>Any</code> for no requirements.</small>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <input type="hidden" id="review_enabled" name="review_enabled" value="false">
                <input type="submit" class="btn btn-success btn-lg btn-block" id="submit">
            </div>
        </div>

    </form>
{{end}}
{{define "foot"}}
    <script src="/static/js/simplemde.min.js"></script>
    <script src="/static/js/time.js"></script>
    <script>
        let enabledInput = document.getElementById("review_enabled");
        let btn = document.getElementById("reviewButton");
        let reviewDeadline = document.getElementById('review_deadline');
        let reviewDeadlineContainer = document.getElementById('review_deadline_container');
        let reviewSelect = document.getElementById('review_id');
        let reviewers = document.getElementById('reviewers');

        function reviewButtonFunction(){

            if(enabledInput.getAttribute("value") == "false"){
                activateReviews();
            }else if(enabledInput.getAttribute("value") == "true"){
                deactiveReviews();
            }
        }

        function activateReviews(){
            btn.classList.remove("btn-success");
            btn.classList.add("btn-danger");
            btn.innerText = "Disable";

            enabledInput.removeAttribute("value");
            enabledInput.setAttribute("value", "true");

            reviewDeadline.removeAttribute("disabled");
            reviewDeadline.setAttribute("required", "");

            reviewSelect.removeAttribute("readonly");
            reviewers.removeAttribute("readonly");
        }

        function deactiveReviews(){
            btn.classList.remove("btn-danger");
            btn.classList.add("btn-success");
            btn.innerText = "Enable";

            enabledInput.removeAttribute("value");
            enabledInput.setAttribute("value", "false");

            reviewDeadline.setAttribute("disabled", "");
            reviewDeadline.removeAttribute("required");

            reviewSelect.setAttribute("readonly", "");
            reviewers.setAttribute("readonly", "");
        }

        window.onload = function () {
            // Enable the SimpleMDE
            let simplemde = new SimpleMDE({
                element: document.getElementById('simplemde'),
                hideIcons: ["side-by-side", "fullscreen"],
                lineWrapping: true,
            });

            let reviewSelect = document.getElementById('review_id');
            let reviewDeadlineContainer = document.getElementById('review_deadline_container');
            let reviewDeadline = document.getElementById('review_deadline');
            let toggleReviewBtn = document.getElementById('toggleReview');

            toggleReviewBtn.addEventListener('click', () => {
                reviewSelect.selectedIndex = 0;
                reviewDeadlineContainer.classList.add('sr-only');
                reviewDeadline.removeAttribute('required');
            });

            reviewSelect.addEventListener('change', e => {
                if (e.target.value !== '0') {
                    reviewDeadlineContainer.classList.remove('sr-only');
                    reviewDeadline.setAttribute('required', '');
                    enabledInput.removeAttribute("value");
                    enabledInput.setAttribute("value", "true");
                } else {
                    reviewDeadlineContainer.classList.add('sr-only');
                    reviewDeadline.removeAttribute('required');
                    enabledInput.removeAttribute("value");
                    enabledInput.setAttribute("value", "false");
                }
            });

            let submissionSelect = document.getElementById('submission_id');
            let submissionContainer = document.getElementById('submission_container');

            submissionSelect.addEventListener('change', e => {
                if (e.target.value !== '0') {
                    submissionContainer.classList.remove('sr-only');
                } else {
                    submissionContainer.classList.add('sr-only');
                }
            });
        }

    </script>
{{end}}