{{define "title"}}Create Assignment{{end}}
{{define "head"}}
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
{{end}}
{{define "content"}}
    {{if .Errors}}
        {{range .Errors}}
            <div class="alert alert-warning">{{.}}</div>
        {{end}}
    {{end}}
    <form action="/admin/assignment/create" method="POST">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Create assignment
                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#templatesModal">
                        Templates
                    </button>
                </h1>
            </div>
        </div>

        <hr>
        <!-- TODO (Svein): Make this for horizontal. See https://getbootstrap.com/docs/4.3/components/forms/#horizontal-form -->
        <div class="row">
            <div class="col-12 col-lg">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Assignment Name"
                           value="{{.AssignmentName}}" required>
                </div>

                <div class="form-group">
                    <label for="course_id">Course</label>
                    <select name="course_id" id="course_id" class="form-control" required>
                        {{range .Courses }}
                            <option value="{{.ID}}">{{.Code}} {{.Name}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="publish">Publish</label>
                    <div class="input-group">
                        <input type="datetime-local" name="publish" id="publish" class="form-control" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="publish_now">Now</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="datetime-local" name="deadline" id="deadline" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="simplemde">Description</label>
                    <textarea name="description" id="simplemde"
                              placeholder="Description (Hint: Markdown)">{{.AssignmentDescription}}</textarea>
                </div>
            </div>

            <div class="col-12 col-lg">
                <div class="row">
                    <div class="col">
                        <h3>Submission Form</h3>
                        <div class="form-group">
                            <label for="submission_id">Select Form</label>
                            <select name="submission_id" id="submission_id" class="form-control">
                                <option value="">None</option>
                                {{range .Submissions}}
                                    <option value="{{.ID}}">{{.Form.Name}}</option>
                                {{end}}
                                <!-- TODO (Svein): Create an API-call for getting the JSON og the submission form -->
                            </select>
                        </div>

                        <hr>

                        <h6>Preview</h6>
                        <hr>
                        <div class="alert alert-info"><strong>Coming:</strong> Under development</div>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <h3>Review Form</h3>
                        <div class="form-group">
                            <label for="review_id">Select Form</label>
                            <select name="review_id" id="review_id" class="form-control">
                                <option value="">None</option>
                                {{range .Reviews}}
                                    <option value="{{.ID}}">{{.Form.Name}}</option>
                                {{end}}
                            </select>
                        </div>

                        <hr>

                        <h6>Preview</h6>
                        <hr>
                        <div class="alert alert-info"><strong>Coming:</strong> Under development</div>
                        <hr>
                        <div id="review_container"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row mb-5">
            <div class="col">
                <input type="submit" class="btn btn-success btn-lg btn-block" id="submit">
            </div>
        </div>

    </form>
{{end}}
{{define "foot"}}
    <div class="modal fade" id="templatesModal" tabindex="-1" role="dialog" aria-labelledby="templatesModel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header bg-info text-light py-2">
                    <h5 class="modal-title">Select template</h5>
                    <button class="close text-light" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body py-2">

                </div>

                <div class="modal-footer bg-light py-2">
                    <button class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button class="btn btn-success btn-sm">Load template</button>
                </div>

            </div>
        </div>
    </div>

    <script src="/static/js/simplemde.min.js"></script>
    <script>
        (function () {
            // Enable the SmpleMDE
            let simplemde = new SimpleMDE({
                element: document.getElementById('simplemde'),
                hideIcons: ["side-by-side", "fullscreen"],
            });

            let publishNowButton = document.getElementById('publish_now');
            let publish = document.getElementById('publish');
            let deadline = document.getElementById('deadline');

            publishNowButton.addEventListener('click', () => {
                publish.value = new Date().toISOString().substring(0, 16);
            });
        })();
    </script>
{{end}}