{{define "title"}}Create Assignment{{end}}
{{define "head"}}
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
    <style>
        .CodeMirror {
            height: 300px;
        }
        .CodeMirror-code::selection {
            background: #000;
        }
        .CodeMirror-code::-moz-selection {
            background: #000;
        }
    </style>
{{end}}
{{define "content"}}
    {{if .Errors}}
        {{range .Errors}}
            <div class="alert alert-warning">{{.}}</div>
        {{end}}
    {{end}}
    <form action="/admin/assignment/create" method="POST">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Create assignment</h1>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-12 col-lg">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Assignment Name"
                           value="{{.AssignmentName}}" required>
                </div>

                <div class="form-group">
                    <label for="course_id">Course</label>
                    <select name="course_id" id="course_id" class="form-control" required>
                        {{range .Courses }}
                            <option value="{{.ID}}">{{.Code}} {{.Name}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="publish">Publish</label>
                    <div class="input-group">
                        <input type="datetime-local" name="publish" id="publish" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="datetime-local" name="deadline" id="deadline" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="simplemde">Description</label>
                    <textarea name="description" id="simplemde"
                              placeholder="Description (Hint: Markdown)">{{.AssignmentDescription}}</textarea>
                </div>
            </div>

            <div class="col-12 col-lg">

                <div class="col">
                    <h3>Submission Form</h3>
                    <div class="form-group">
                        <label for="submission_id">Select Form</label>
                        <select name="submission_id" id="submission_id" class="form-control">
                            <option value="">None</option>
                            {{range .Submissions}}
                                <option value="{{.ID}}">{{.Form.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                    <hr>
                </div>

                <div class="col">
                    <h3>Peer Review</h3>
                    <button type="button" onclick="reviewButtonFunction()" id="reviewButton" class="btn btn-danger btn-sm">Disable</button>

                    <h5>Review Form</h5>
                    <div class="form-group">
                        <label for="review_id">Select Form</label>
                        <select name="review_id" id="review_id" class="form-control">
                            <option value="0">None</option>
                            {{range $R := .Reviews}}
                                <option value="{{$R.ID}}">{{$R.Form.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="form-group" id="review_deadline_container">
                        <label for="review_deadline">Review Deadline</label>
                        <input type="datetime-local" name="review_deadline" id="review_deadline" class="form-control">
                    </div>

                    <hr>

                    <h5>Number of reviews for each student</h5>
                    <div class="form-group">
                        <label for="reviewers">How many submissions should every student review on this
                            assignment <br> Set to 0 to disable this feature</label>
                        <select name="reviewers" id="reviewers" class="form-control" required>
                            <script>
                                for (let i = 0; i <= 6; i++) {
                                    if(i == 0){
                                        document.write(`<option value="${i}">Any</option>`);
                                    }else{
                                        document.write(`<option value="${i}">${i}</option>`);
                                    }
                                }
                            </script>
                        </select>
                    </div>
                    <hr>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col">
                <input type="hidden" id="review_enabled" name="review_enabled" value="false">
                <input type="submit" class="btn btn-success btn-lg btn-block" id="submit">
            </div>
        </div>

    </form>
{{end}}
{{define "foot"}}
    <script src="/static/js/simplemde.min.js"></script>
    <script src="/static/js/time.js"></script>
    <script>

        let enabledInput = document.getElementById("review_enabled");
        let btn = document.getElementById("reviewButton");
        let reviewDeadline = document.getElementById('review_deadline');
        let reviewDeadlineContainer = document.getElementById('review_deadline_container');
        let reviewSelect = document.getElementById('review_id');
        let reviewers = document.getElementById('reviewers');

        function reviewButtonFunction(){

            if(enabledInput.getAttribute("value") == "false"){
                activateReviews();
            }else if(enabledInput.getAttribute("value") == "true"){
                deactiveReviews();
            }
        }

        function activateReviews(){
            btn.classList.remove("btn-success");
            btn.classList.add("btn-danger");
            btn.innerText = "Disable";

            enabledInput.removeAttribute("value");
            enabledInput.setAttribute("value", "true");

            reviewDeadline.removeAttribute("disabled");
            reviewDeadline.setAttribute("required", "");

            reviewSelect.removeAttribute("readonly");
            reviewers.removeAttribute("readonly");
        }

        function deactiveReviews(){
            btn.classList.remove("btn-danger");
            btn.classList.add("btn-success");
            btn.innerText = "Enable";

            enabledInput.removeAttribute("value");
            enabledInput.setAttribute("value", "false");

            reviewDeadline.setAttribute("disabled", "");
            reviewDeadline.removeAttribute("required");

            reviewSelect.setAttribute("readonly", "");
            reviewers.setAttribute("readonly", "");
        }

        window.onload = function () {
            // Enable the SimpleMDE
            let simplemde = new SimpleMDE({
                element: document.getElementById('simplemde'),
                hideIcons: ["side-by-side", "fullscreen"],
                lineWrapping: true,
            });

            deactiveReviews();
        };
    </script>
{{end}}