{{define "title"}}Assignments{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <h2 class="display-4 mb-3">Assignments <a href="/admin/assignment/create"
                                              class="btn btn-success btn-sm px-3">New</a></h2>
    <hr>
    <div class="row">
        {{range .Assignments}}
            <div class="col-12 col-md-6 col-lg-4 mb-3">
                <div class="card shadow-sm{{if DEADLINEDUE .Deadline}} bg-secondary text-light{{end}}">
                    <div class="card-body">
                        <h2 class="display-5">{{.Name}}</h2>
                        <h5><span class="badge {{if DEADLINEDUE .Deadline}}badge-dark{{ else}} badge-secondary{{end}}">COURSE_CODE</span>
                        </h5>
                        <p{{if DEADLINEDUE .Deadline}} class="text-danger"{{end}}>
                            <strong>Deadline: </strong> {{PRETTYTIME .Deadline}}</p>
                        <hr class="bg-light">
                        <a href="/admin/assignment/{{.ID}}"
                           class="btn btn-outline-{{if DEADLINEDUE .Deadline}}light{{else}}dark{{end}} btn-sm">See
                            details</a>
                        <a href="/admin/assignment/{{.ID}}/submissions"
                           class="btn btn-outline-{{if DEADLINEDUE .Deadline}}light{{else}}dark{{end}} btn-sm">See
                            submissions</a>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
{{end}}
{{define "foot"}}{{end}}