{{define "title"}}Assignments{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <h2 class="display-4 mb-3">Assignments <a href="/admin/assignment/create"
                                              class="btn btn-success btn-sm px-3">New</a></h2>
    <hr>
    <div class="row">
        {{range .Assignments}}
            <div class="col-xl-4 col-md-6 col-sm-12 mb-3">
                <div class="card shadow-sm{{if DEADLINEDUE .Assignment.Deadline}} bg-secondary text-light{{end}}">
                    <div class="card-body">
                        <h5 class="float-right text-secondary">ID: {{.Assignment.ID}}</h5>
                        <h2 class="display-5">{{.Assignment.Name}}</h2>
                        <h5>
                            <span class="badge {{if DEADLINEDUE .Assignment.Deadline}}badge-dark{{ else}} badge-secondary{{end}}">{{.CourseCode}}</span>
                        </h5>
                        <p{{if DEADLINEDUE .Assignment.Deadline}} class="text-danger"{{end}}>
                            <strong>Deadline: </strong> {{PRETTYTIME .Assignment.Deadline}}</p>
                        <hr class="bg-light">
                        <div class="btn-group btn-group-sm">
                            <a href="/admin/assignment/{{.Assignment.ID}}"
                               class="btn btn-outline-{{if DEADLINEDUE .Assignment.Deadline}}light{{else}}dark{{end}}">See
                                details</a>
                            <a href="/admin/assignment/{{.Assignment.ID}}/submissions"
                               class="btn btn-outline-{{if DEADLINEDUE .Assignment.Deadline}}light{{else}}dark{{end}}">See
                                submissions</a>
                            <a href="/admin/assignment/update/{{.Assignment.ID}}"
                               class="btn btn-outline-{{if DEADLINEDUE .Assignment.Deadline}}light{{else}}dark{{end}}">Edit
                                assignment
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
{{end}}
{{define "foot"}}{{end}}