{{define "title"}}Single Submission{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<h1 class="display-4">Submission for {{.User.Name}}</h1>
	<hr>

	{{ range .AnswersAndFields }}
		{{if eq .Field.Type "radio"}}
			{{$F := .Field}}
			{{$A := .Answer}}
			{{$Value := ATOI $A.Value}}
			{{$V := 1}}
			<fieldset>
				<legend>{{$F.Label}}</legend>
				{{range SPLIT_CHOICES $F.Choices}}
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="{{$F.Name}}" id="{{$F.Name}}_{{$V}}" value="{{$V}}"{{if eq $V $Value}} checked{{end}} disabled>
						<label class="form-check-label" for="{{$F.Name}}_{{$V}}">{{.}}</label>
					</div>
					{{$V = INCREMENT $V}}
				{{end}}
				<small class="form-text text-muted">{{$F.Description}}</small>
			</fieldset>
		{{else}}
			<div class="form-group{{if eq .Field.Type "checkbox"}} form-check{{end}} mb-3">
				{{if ne .Field.Type "checkbox"}}<label>{{ .Field.Label }}</label>{{end}}
				{{ if eq .Field.Type "text" }}
					<input type="text" class="form-control" value="{{ .Answer.Value}}" disabled>
				{{ else if eq .Field.Type "url" }}
					<br>
					<a href="{{.Answer.Value}}" target="_blank">{{.Answer.Value}}</a>
				{{ else if eq .Field.Type "textarea" }}
					<textarea class="form-control" disabled>{{ .Answer.Value}}</textarea>
				{{ else if eq .Field.Type "number" }}
					<input type="number" class="form-control" value="{{ .Answer.Value}}" disabled>
				{{ else if eq .Field.Type "checkbox" }}
					<input type="checkbox" class="form-check-input"{{if eq .Answer.Value "on"}} checked{{end}} disabled>
					<label class="form-check-inline" for="{{ .Field.Name }}">{{ .Field.Label }}</label>
				{{ end }}
				<small class="form-text text-muted">{{.Field.Description}}</small>
			</div>
		{{end}}
		{{if .Field.HasComment}}
			<div class="form-group form-check">
				<label>Comment <em>({{.Field.Label}})</em></label>
				<textarea class="form-control" disabled>{{.Answer.Comment.String}}</textarea>
			</div>
		{{end}}
	{{ end }}

	<hr>
	<a href="/admin/assignment/{{.AssignmentID}}/submissions" class="btn btn-outline-dark">Go back</a>
{{end}}
{{define "foot"}}{{end}}