{{define "title"}}Single Submission{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <!-- TODO brede : use iframe to display user submission here from not admin/ -->

{{end}}
{{define "foot"}}{{end}}