{{define "title"}}User Submissions{{end}}
{{define "head"}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <style>
        .id-col {
            font-weight: 700;
        }
    </style>
{{end}}
{{define "content"}}

    <h2 class="display-4 mb-3">{{.Assignment.Name}} submissions</h2>
    <h5>{{.SubmissionCount}} / {{len .Students}} submitted</h5>

    <table class="table table-hover table-sm" id="table" data-toggle="table" data-pagination="true" data-search="true">
        <thead class="thead-light">
        <tr>
            <th data-sortable="true" scope="col">#</th>
            <th data-sortable="true" scope="col">Name</th>
            <th data-sortable="true" scope="col">Email</th>
            <th data-sortable="true" scope="col">Submitted</th>
            <th data-sortable="true" scope="col">Submission</th>
            <th data-sortable="true" scope="col">Reviews</th>
        </tr>
        </thead>
        <tbody>
        {{$A := .Assignment}}
        {{range .Students}}
            {{if not .User.Teacher}}
                <tr{{if not .Submitted}} class="table-danger"{{else}} class="table-success"{{end}}>
                    <td class="id-col">{{.User.ID}}</td>
                    <td>{{.User.Name}}</td>
                    <td><a href="mailto:{{.User.EmailStudent}}">{{.User.EmailStudent}}</a></td>
                    <td>{{if .Submitted}}{{PRETTYTIME .SubmittedTime}}{{end}}</td>
                    <td>{{if .Submitted}}<a href="/admin/assignment/{{$A.ID}}/submission/{{.User.ID}}">See submission</a>{{end}}</td>
                    <td>{{if .Reviewed}}<a href="/admin/assignment/{{$A.ID}}/review/{{.User.ID}}">See review(s)</a>{{end}}</td>
                </tr>
            {{end}}
        {{end}}
        </tbody>
    </table>
{{end}}
{{define "foot"}}
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
{{end}}