{{define "title"}}User Submissions{{end}}
{{define "head"}}{{end}}
{{define "content"}}

    <h2 class="display-4 mb-3">{{ .Assignment.Name }} submissions</h2>
    <h5>{{ .SubmissionCount }} submitted</h5>
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Submitted</th>
            <th scope="col">Submission</th>
            <th scope="col">Reviews</th>
        </tr>
        </thead>
        <tbody>
        {{$A := .Assignment}}
        {{ range .Students }}
            {{ if not .User.Teacher }}
                <tr class="clickable-row">
                    <th scope="row">{{ .User.ID }}</th>
                    <td>{{ .User.Name }}</td>
                    <td><a href="mailto:{{ .User.EmailStudent }}">{{ .User.EmailStudent }}</a></td>
                    <td>{{if .Submitted}}{{PRETTYTIME .SubmittedTime }}{{end}}</td>
                    <td>{{if .Submitted}}<a href="/admin/assignment/{{ $A.ID }}/submission/{{ .User.ID }}">See submission</a>{{end}}</td>
                    <td>{{if .Submitted}}<a href="/admin/assignment/{{$A.ID}}/review/{{.User.ID}}">See review(s)</a>{{end}}</td>
                </tr>
            {{ end }}
        {{ end }}
        </tbody>
    </table>
{{end}}
{{define "foot"}}{{end}}