{{define "title"}}Update Assignment{{end}}
{{define "head"}}
    <link rel="stylesheet" href="/static/css/simplemde.min.css">
{{end}}
{{define "content"}}
    {{if .Errors}}
        {{range .Errors}}
            <div class="alert alert-warning">{{.}}</div>
        {{end}}
    {{end}}
    <form id="assignmentForm" action="/admin/assignment/update" method="POST">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Update assignment</h1>
            </div>
        </div>

        <hr>
        <!-- TODO (Svein): Make this for horizontal. See https://getbootstrap.com/docs/4.3/components/forms/#horizontal-form -->
        <div class="row">
            <div class="col-12 col-lg">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Assignment Name"
                           value="{{.Assignment.Name}}" required>
                </div>

                <div class="form-group">
                    <label for="course_id">Course</label>
                    <select name="course_id" id="course_id" class="form-control" required>
                        {{$A := .Assignment}}
                        {{range $C := .Courses}}
                            <option value="{{$C.ID}}"{{if eq $C.ID $A.CourseID}} selected{{end}}>{{$C.Code}} {{$C.Name}}</option>
                        {{end}}
                    </select>
                </div>

                <div class="form-group">
                    <label for="publish">Publish</label>
                    <div class="input-group">
                        <input type="datetime-local" name="publish" id="publish" class="form-control"
                               value="{{.Publish}}" required>
                        <!-- TODO uncomment after alpha
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="publish_now">Now</button>
                        </div>
                        -->
                    </div>
                </div>

                <div class="form-group">
                    <label for="deadline">Deadline</label>
                    <input type="datetime-local" name="deadline" id="deadline" class="form-control"
                           value="{{.Deadline}}" required>
                </div>

                <div class="form-group">
                    <label for="simplemde">Description</label>
                    <textarea name="description" id="simplemde"
                              placeholder="Description (Hint: Markdown)">{{.Assignment.Description}}</textarea>
                </div>
            </div>

            <div class="col-12 col-lg">

                <div class="col">
                    <h3>Peer Review</h3>
                    <div class="form-group">
                        <label for="reviewers">How many submissions should every student review on this
                            assignment:</label>
                        <select name="reviewers" id="reviewers" class="form-control" required>
                            option
                            {{if .Assignment.Reviewers.Valid}}
                                <option value="{{.Assignment.Reviewers.Int64}}"
                                        selected>{{.Assignment.Reviewers.Int64}}</option>{{end}}
                            <script>
                                for (let i = 1; i <= 6; i++) {
                                    document.write(`<option value="${i}">${i}</option>`);
                                }
                            </script>
                        </select>
                    </div>
                    <hr>
                </div>

                <div class="col">
                    <h3>Submission Form</h3>
                    <div class="form-group">
                        <label for="submission_id">Select Form</label>
                        <select name="submission_id" id="submission_id" class="form-control">
                            <!-- TODO : delete all former submissions if the form is changed -->
                            <option value="">None</option>
                            {{range $S := .Submissions}}
                                <option value="{{$S.ID}}"{{if eq $S.ID $A.SubmissionID.Int64}} selected{{end}}>{{$S.Form.Name}}</option>
                            {{end}}
                            <!-- TODO (Svein): Create an API-call for getting the JSON og the submission form -->
                        </select>
                    </div>

                    <hr>

                    <h6>Preview</h6>
                    <hr>
                    <div class="alert alert-info"><strong>Coming:</strong> Under development</div>
                    <hr>
                </div>

                <div class="col">
                    <h3>Review Form</h3>
                    <div class="form-group">
                        <label for="review_id">Select Form</label>
                        <select name="review_id" id="review_id" class="form-control">
                            <option value="">None</option>
                            {{range $R := .Reviews}}
                                <option value="{{$R.ID}}"{{if eq $R.ID $A.ReviewID.Int64}} selected{{end}}>{{$R.Form.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="form-group sr-only" id="review_deadline_container">
                        <label for="review_deadline">Review Deadline</label>
                        <input type="datetime-local" name="review_deadline" id="review_deadline" class="form-control">
                    </div>

                    <hr>

                    <h6>Preview</h6>
                    <hr>
                    <div class="alert alert-info"><strong>Coming:</strong> Under development</div>
                    <hr>
                    <div id="review_container"></div>
                </div>
            </div>

        </div>

        <div class="row mb-5">
            <div class="col">
                <input type="hidden" name="id" value="{{.Assignment.ID}}">
                <input type="submit" class="btn btn-success btn-lg btn-block" id="submit">
            </div>
        </div>

    </form>
{{end}}
{{define "foot"}}
    <script src="/static/js/time.js"></script>
    <script src="/static/js/simplemde.min.js"></script>
    <script>
        (function () {
            // Enable the SmpleMDE
            let simplemde = new SimpleMDE({
                element: document.getElementById('simplemde'),
                hideIcons: ["side-by-side", "fullscreen"],
            });

            let publishNowButton = document.getElementById('publish_now');
            let publish = document.getElementById('publish');
            let deadline = document.getElementById('deadline');

            // TODO time-norwegian
            /*
            publishNowButton.addEventListener('click', () => {
                publish.value = getTimeInNorwegian().toNORString();
            });
            */

            let reviewDeadline = document.getElementById('review_deadline');
            let reviewDeadlineContainer = document.getElementById('review_deadline_container');
            let reviewSelect = document.getElementById('review_id');

            checkReviewValue(reviewSelect.value);

            reviewSelect.addEventListener('change', e => {
                checkReviewValue(e.target.value);
            });

            function checkReviewValue(value) {
                if (value !== "") {
                    reviewDeadlineContainer.classList.remove('sr-only');
                    reviewDeadline.setAttribute('required', '');
                } else {
                    reviewDeadlineContainer.classList.add('sr-only');
                    reviewDeadline.removeAttribute('required');
                }
            }
        })();

        // On submit form, call this function
        window.onload = function () {
            document.getElementById('assignmentForm').onsubmit = function () {
                CheckSubmissionForm();
            };
        };

        /**
         * CheckSubmissionForm
         *
         * Checks if one or more users(students) has delivered with a specified submission form in a
         * specified assignment. If it's true, give the admin a warning and ask if it still should be changed.
         * If yes(ok), do nothing but if no(Cancel), change the value back to the original value.
         * */
        function CheckSubmissionForm() {

            // Get element
            let selectedSubmissionID = document.getElementById('submission_id');

            // Declare submission ID
            let id;

            // Parse to int, -1 if None is selected
            if (selectedSubmissionID.value.length == 0) {
                id = 0;
            } else {
                // Parse to INT
                id = parseInt(selectedSubmissionID.value, 10);
            }

            // Parse former submission id
            let formerID = parseInt({{ .Assignment.SubmissionID.Int64 }}, 10);

            // If the submission form is changed
            if (id != formerID) {

                // Check if a student has answered it and ask teacher for confirmation if so
                let len = parseInt({{ .SubmissionCount }}, 10);

                // If one or more users has answered this subForm, Ask user and if it sttill should be changed, if no, change back to original value
                if (len > 0 && !confirm("WARNING! " + len + " students has already answered this submission form. Do you still want to change it? (This will delete former submissions)")) {
                    selectedSubmissionID.value = formerID;
                }
            }
        }
    </script>
{{end}}