{{define "title"}}Error {{.ErrorCode}}{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="text-center">
    <h1 class="display-1">Error {{ .ErrorCode }}</h1>
    <h2 class="display-4">{{ .ErrorMessage }}</h2>
    <a href="/admin"><p class="lead">Go back to the dashboard</p></a>
</div>
{{end}}
