{{define "title"}}Create Course{{end}}
{{define "head"}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{{end}}
{{define "content"}}

    <div class="row">
        <div class="col-6">
            <h2 class="display-4 mb-3">New course</h2>
            <form action="/admin/course/create" method="post">
                <div class="form-group">
                    <label for="code">Course code</label>
                    <input type="text" id="code" name="code" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>

                <div class="form-group">
                    <label for="year">Year</label>
                    <select name="year" id="year" class="form-control" required>
                        option
                        <script>
                            let y = (new Date()).getFullYear();

                            for (let i = y; i <= y + 5; i++) {
                                document.write(`<option value="${i}">${i}</option>`);
                            }
                        </script>
                    </select>
                </div>

                <div class="form-group">
                    <label for="semester">Semester</label>
                    <select name="semester" id="semester" class="form-control" required>
                        <option value="spring">Spring</option>
                        <option value="fall">Fall</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control"></textarea>
                </div>

                <!--
                <div class="form-group">
                    <label for="">Students</label>
                    <div class="custom-file">
                        <input type="file" id="students" class="custom-file-input">
                        <label for="students" class="custom-file-label">*.csv</label>
                    </div>
                </div>
                -->

                <input type="submit" class="btn btn-success">
                <br><br>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="display-4 mb-3">Import course</h2>
            <form action="/admin/course/import" method="post">
                <label for="test">Import</label>
                <div class="custom-file" id="test" style="">
                    <input type="file" id="students" class="custom-file-input" accept="application/json">
                    <label for="students" class="custom-file-label">*.json</label>
                </div>
                <br><br>
                <input type="submit" class="btn btn-success" value="Upload">
            </form>
        </div>
    </div>
{{end}}
{{define "foot"}}
    <script>
        let simplemde = new SimpleMDE({ element: document.getElementById("description") });
    </script>
{{end}}