{{define "title"}}Courses{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <h2 class="display-4 mb-3">Courses <a href="/admin/course/create" class="btn btn-success btn-sm px-3">New</a></h2>
    <div class="row">
        {{ range .Courses.Items }}
            <div class="col-12 col-md-6 col-xl mb-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ .Code }}: {{ .Name }}</h2>
                        <a href="#" class="btn btn-dark">See assignments</a>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
{{end}}
{{define "foot"}}{{end}}