{{define "title"}}Send Email{{end}}
{{define "head"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{{end}}
{{define "content"}}
    <h2 class="display-4 mb-3">{{ .Course.Code }} - {{ .Course.Name }}</h2>

    <hr>

    <div class="row">
        <div class="col-md-6">

            {{ if eq 0 (len .Emails)}}
                <h1 class="display-5 mb-3">No one in course</h1>
            {{ else }}
                <form action="/admin/course/email/{{.Course.ID}}" class="form-signin" method="POST">
                    <div class="form-group">
                        <label for="inputsubject" class="sr-only">Subject</label>
                        <input type="text" name="subject" id="inputsubject" class="form-control"
                               placeholder="Subject" required autofocus>
                    </div>


                    <div class="form-group">
                        <label for="inputmessage" class="sr-only">Message</label>
                        <textarea name="message" id="inputmessage" class="form-control"
                                  placeholder="Message" required></textarea>
                    </div>
                    <p>Number of emails in total: {{len .Emails}}, including the private emails too</p>

                    <button class="btn btn-primary btn-block mb-3" type="submit">Send Email</button>
                </form>
            {{ end}}


        </div>
    </div>

{{end}}
{{define "foot"}}
{{end}}