{{define "title"}}Assignment: {{.Assignment.Name}}{{end}}
{{define "head"}}
    <style>
        /* link color in general */
        a {
            color: #1e90ff;
        }

        /* link color hovered in general */
        a:hover {
            color: #00008b;
        }

        .card-header {
            background-color: #343a40;
        }

        .card-body {
            background-color: #f8f9fa;
        }

        #myTab.nav-pills .nav-link.active {
            background-color: #f8f9fa;
        !important;
            color: black;
        }

        /* hovered tab background-color, text-color and border-color */
        #myTab.nav-item a.nav-link:hover {
            background-color: #f8f9fa;
            color: black;
        }

        /* tabs text-color and border-color */
        #myTab.nav-pills .nav-link {
            color: #f8f9fa;
            border-color: #f8f9fa;
            border-bottom-color: #f8f9fa;
        }

        a#participant-tab.nav-link.disabled {
            color: #6c7985;
        }

        a#peerReview-tab.nav-link.disabled {
            color: #6c7985;
        }

    </style>
{{end}}
{{define "content"}}
    {{$id := .Assignment.ID}}
    {{$length := len .Reviews}}
    <div class="container pt-3">
        {{if .Delivered}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Notice!</strong> You have already submitted this assignment!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{end}}
        <a href="/course/{{.CourseID}}" class="btn btn-outline-dark">Go Back</a>

        <h1 class="display-4">
            {{.Assignment.Name}}
        </h1>
        {{if .HasReview}}<span class="badge badge-info">Peer Review</span>{{end}}
        {{if .HasAutoValidation}}<span class="badge badge-warning">Auto Validated</span>{{end}}

        <p class="lead"><strong>Deadline:</strong> {{PRETTYTIME .Assignment.Deadline}}</p>
        <div class="card mb-5">
            <div class="card-header">
                <ul class="nav nav-pills card-header-tabs pull-right mb-0" id="myTab" role="tablist" style="float:left;">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">Assignment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{if eq $length 0}}disabled{{end}}" id="peerReview-tab" data-toggle="tab"
                           href="#peerReview" role="tab"
                           aria-controls="peerReview" aria-selected="false">Peer Review
                            {{if gt $length 0}}
                                <span class="badge badge-danger">{{$length}}</span>
                            {{end}}

                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{if not .HasAutoValidation}} disabled{{end}}" id="participant-tab" data-toggle="tab" href="#autoValidation" role="tab" aria-controls="participants" aria-selected="false">Auto Validation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{{if not .HasReview}} disabled{{end}}" id="viewReview-tab" data-toggle="tab" href="#viewReview" role="tab" aria-controls="viewReview" aria-selected="false">
                            View Reviews
                        </a>
                    </li>
                </ul>

                <ul class="nav nav-pills" style="float:right;">
                    <li>
                        {{if not .IsTeacher}}
                            {{if not .Delivered}}
                                <a style="float:right;" href="/assignment/submission?id={{.Assignment.ID}}" class="btn btn-outline-light btn-success {{if .IsDeadlineOver}}disabled{{end}}">Deliver assignment</a>
                            {{else}}
                                <a href="/assignment/submission?id={{.Assignment.ID}}" class="btn btn-outline-light btn-warning {{if .IsDeadlineOver}}disabled{{end}}">Change your submission</a>
                            {{end}}
                        {{end}}
                    </li>
                </ul>


            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        {{.Description}}
                    </div>

                    <div class="tab-pane fade" id="peerReview" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            {{if gt $length 0}}
                                {{range .Reviews}}
                                    <div class="col-md-6 col-sm-12 mb-3">
                                        <div class="card shadow-sm">
                                            <div class="card-body">
                                                <h2 class="display-5">User {{.ID}}</h2>
                                                <h5>
                                                    <span class="badge badge-info">Peer-Review</span>
                                                </h5>
                                                <hr class="bg-light">
                                                <a href="/assignment/{{$id}}/submission/{{.ID}}" class="btn btn-outline-dark btn-lg">Review</a>
                                            </div>
                                        </div>
                                    </div>
                                {{end}}
                            {{end}}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="autoValidation" role="tabpanel" aria-labelledby="home-tab">
                        <div>:(</div>
                    </div>

                    <div class="tab-pane fade" id="viewReview" role="tabpanel">
                        {{$i := 1}}
                        {{range .MyReviews}}
                            <div class="card mb-3">
                                <div class="card-header bg-secondary">
                                    <h5 class="card-title mb-0">Review {{$i}}</h5>{{$i = INCREMENT $i}}
                                </div>
                                <div class="card-body">
                                    <!-- TODO (Svein): Get the other field types -->
                                    {{range .}}
                                        {{if eq .Type "radio"}}
                                            <label for="">{{.Label}}</label>
                                            <input type="text" class="form-control" value="{{.Answer}}" disabled>
                                        {{else}}
                                            <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}}">
                                                {{if ne .Type "checkbox"}}<label for="">{{.Label}}</label>{{end}}
                                                {{if eq .Type "text"}}
                                                    <input type="text" class="form-control" value="{{.Answer}}"
                                                           disabled>
                                                {{else if eq .Type "url"}}
                                                    <input type="url" class="form-control" value="{{.Answer}}" disabled>
                                                {{else if eq .Type "textarea"}}
                                                    <textarea class="form-control" disabled>{{.Answer}}</textarea>
                                                {{else if eq .Type "number"}}
                                                    <input type="number" class="form-control" value="{{.Answer}}"
                                                           disabled>
                                                {{else if eq .Type "checkbox"}}
                                                    <input type="checkbox"
                                                           class="form-check-input"{{if eq .Answer "on"}} checked{{end}}
                                                           disabled>
                                                    <label class="form-check-inline">{{.Label}}</label>
                                                {{end}}
                                            </div>
                                        {{end}}
                                    {{end}}
                                </div>
                            </div>
                        {{end}}
                        {{if eq $i 1}}
                            <h3>Your assignment has not been reviewed yet.</h3>
                        {{end}}
                    </div>

                </div>
            </div>


        </div>


    </div>
{{end}}
{{define "foot"}}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/darcula.min.css"> <!-- Darcula theme for syntax highlight -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script> <!-- Highlighting lib -->
    <script charset="UTF-8"
            src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/go.min.js"></script> <!-- Go Highlighting lib -->
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad(); //init highlight js

        var converter = new showdown.Converter(); //markdown converter
        document.getElementById("home").innerHTML = converter.makeHtml({{.Assignment.Description}});
    </script>
{{end}}