{{define "title"}}Assignment: {{.Assignment.Name}}{{end}}
{{define "head"}}

    <style>
        /* link color in general */
        a {
            color: #1e90ff;
        }

        /* link color hovered in general */
        a:hover {
            color: #00008b;
        }
    </style>

    <link rel="stylesheet" href="/static/css/highlight.css">
    <link rel="stylesheet" href="/static/css/highlight-Go.css">
{{end}}
{{define "content"}}
    <div class="container pt-3">
        {{if .Delivered}}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Notice!</strong> You have already submitted this assignment!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {{end}}
        <a href="/course?id={{ .CourseID }}" class="btn btn-outline-dark">Go Back</a>

        <h1 class="display-4">
            {{.Assignment.Name}}
        </h1>
        {{if .HasReview}}<span class="badge badge-info">Peer Review</span>{{end}}
        {{if .HasAutoValidation}}<span class="badge badge-warning">Auto Validated</span>{{end}}

        <p class="lead"><strong>Deadline:</strong> {{PRETTYTIME .Assignment.Deadline}}</p>
        <div class="jumbotron">
            {{.Description}}
        </div>
        {{  if .IsDeadlineOver }}
            {{if .HasReview}}
                <a href="#" class="btn btn-info btn-lg">Peer-Review</a>
            {{end}}
        {{else}}
            {{if not .Delivered}}
                <a href="/assignment/submission?id={{ .Assignment.ID }}" class="btn btn-outline-dark btn-lg">Deliver
                    assignment</a>
            {{else}}
                <a href="/assignment/submission?id={{ .Assignment.ID }}" class="btn btn-outline-dark btn-lg">Change your
                    submission</a>
            {{end}}
        {{end}}
        {{if .HasBeenValidated}}
            <a href="#" class="btn btn-outline-dark btn-lg disabled">Auto Scoring</a>
        {{end}}

        {{ $id := .Assignment.ID }}
        {{ $length := len .Reviews.Items }}
        {{ if gt $length 0 }}
            {{ range .Reviews.Items }}
                <a href="/assignment/{{$id}}/submission/{{.ID}}" class="btn btn-outline-dark btn-lg">Review {{ .Name }}</a>
            {{ end }}
        {{end }}
    </div>
{{end}}
{{define "foot"}}{{end}}