{{define "title"}}User Submission{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <main role="main" class="container pt-3">
        <div class="row">
            <div class="col-12 mb-3">
                <a href="{{if .IsTeacher}}/admin/assignment/{{.Assignment.ID}}/submissions {{else}}/assignment/{{.Assignment.ID}}{{end}}"
                   class="btn btn-outline-dark mb-3">Go Back</a>
                <div class="col my-1 container pt-3 jumbotron">
                    {{if .Delivered}}
                        <h1 class="display-4">
                            Reviewing assignment:<br>
                            <small>{{.Assignment.Name}}</small>
                        </h1>
                        <h4>{{.Course.Code}} {{.Course.Name}}</h4>

                        <hr>

                        <h3>Submission:</h3>

                        {{range .Answers}}
                            {{if eq .Type "radio"}}
                                {{$A := .}}
                                {{$Answer := ATOI .Answer}}
                                {{$V := 1}}
                                <fieldset>
                                    <legend>{{.Label}}</legend>
                                    {{range .Choices}}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{$A.Name}}"
                                                   id="{{$A.Name}}_{{$V}}"
                                                   value="{{$V}}"{{if eq $V $Answer}} checked{{end}}
                                                   disabled>
                                            <label class="form-check-label" for="{{$A.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else if eq .Type "multi-checkbox"}}
                                {{$A := .}}
                                {{$Answer := ATOI .Answer}}
                                {{$V := 1}}
                                <fieldset>
                                    <legend>{{.Label}}</legend>
                                    {{range .Choices}}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="{{$A.Name}}"
                                                   id="{{$A.Name}}_{{$V}}"
                                                   value="{{$V}}"{{if eq $V $Answer}} checked{{end}}
                                                   disabled>
                                            <label class="form-check-label" for="{{$A.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else}}
                                <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}} mb-3">
                                    {{if eq .Type "text"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <input type="text" name="{{.Name}}" id="{{.Name}}" class="form-control"
                                               value="{{.Answer}}" disabled>
                                    {{else if eq .Type "url"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <input type="url" name="{{.Name}}" id="{{.Name}}" class="form-control"
                                               value="{{.Answer}}" disabled>
                                        <a href="{{.Answer}}" target="_blank">Open in a new tab</a>
                                    {{else if eq .Type "textarea"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <textarea name="{{.Name}}" id="{{.Name}}" class="form-control"
                                                  disabled>{{.Answer}}</textarea>
                                    {{else if eq .Type "number"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <input type="number" name="{{.Name}}" id="{{.Name}}" class="form-control"
                                               value="{{.Answer}}" disabled>
                                    {{else if eq .Type "checkbox"}}
                                        <input type="checkbox" name="{{.Name}}" id="{{.Name}}"
                                               class="form-check-input"{{if eq .Answer "on"}} checked{{end}} disabled>
                                        <label class="form-check-inline" for="{{.Name}}">{{.Label}}</label>
                                    {{else if eq .Type "paragraph"}}
                                        <legend>{{.Label}}</legend>
                                        <p class="lead">{{.Description}}</p>
                                    {{end}}

                                    {{if ne .Type "paragraph"}}
                                        <small class="form-text text-muted">{{.Description}}</small>
                                    {{end}}
                                </div>
                            {{end}}
                            {{if .HasComment}}
                                <div class="form-group form-check">
                                    <label for="{{.Name}}_comment">Comment <em>({{.Label}})</em></label>
                                    <textarea name="{{.Name}}_comment" id="{{.Name}}_comment" rows="3"
                                              class="form-control"
                                              disabled>{{.Comment.String}}</textarea>
                                </div>
                            {{end}}
                        {{end}}

                    {{else}}
                        <h1 class="display-4">This assignment has not yet been submitted.</h1>
                    {{end}}

                    {{if .Assignment.MessagesEnabled}}
                        <form action="/assignment/{{.Assignment.ID}}/submission/{{.User.ID}}/message" id="messageForm" method="POST">
                            <label for="message_field">Comments regarding this submission:</label>
                            <textarea name="message_field" id="message_field" rows="2" class="form-control"></textarea>
                            <button class="btn btn-primary" style="margin-top: 5px;" type="submit">Comment</button>
                        </form>

                        {{range .ReviewMessages}}
                            <div class="card" style="margin-top: 5px;">
                                <div class="card-header">
                                    <h6>
                                        {{if eq .UserReviewer .UserTarget}}
                                            Submitter
                                        {{else}}
                                            Reviewer {{.UserReviewer}}
                                        {{end}}
                                    </h6>
                                    {{if not eq .UserReviewer .UserTarget}}
                                        <button class="btn btn-primary" onclick="replyToThis({{.UserReviewer}})">Reply
                                        </button>
                                    {{end}}
                                </div>
                                <div class="card-body">
                                    <p>{{.Message}}</p>
                                </div>
                            </div>
                        {{end}}
                    {{end}}

                </div>
            </div>

            {{if not .IsOwner}}

                <div class="col-12 mb-3">
                    <h2 class="display-4">Review Form:</h2>
                    <hr>

                    <form action="/assignment/{{.Assignment.ID}}/submission/{{.User.ID}}" method="POST">
                        {{range .Review}}
                            {{if eq .Type "radio"}}
                                {{$A := .}}
                                {{$Answer := ATOI .Answer}}
                                {{$V := 1}}
                                <fieldset class="mb-3">
                                    <legend class="lead">{{.Label}}</legend>
                                    {{range .Choices}}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{$A.Name}}"
                                                   id="{{$A.Name}}_{{$V}}"
                                                   value="{{$V}}"{{if eq $V $Answer}} checked{{end}}>
                                            <label class="form-check-label" for="{{$A.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else}}
                                <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}} mb-3">
                                    {{if eq .Type "text"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <input type="text" name="{{.Name}}" id="{{.Name}}" class="form-control"
                                               value="{{.Answer}}">
                                    {{else if eq .Type "url"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <input type="url" name="{{.Name}}" id="{{.Name}}" class="form-control"
                                               value="{{.Answer}}">
                                        <a href="{{.Answer}}" target="_blank">Open in new tab</a>
                                    {{else if eq .Type "textarea"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <textarea name="{{.Name}}" id="{{.Name}}" class="form-control" rows="5"
                                                  disabled>{{.Answer}}</textarea>
                                    {{else if eq .Type "number"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <input type="number" name="{{.Name}}" id="{{.Name}}" class="form-control"
                                               value="{{.Answer}}">
                                    {{else if eq .Type "checkbox"}}
                                        <input type="checkbox" name="{{.Name}}" id="{{.Name}}"
                                               class="form-check-input"{{if eq .Answer "on"}} checked{{end}}>
                                        <label class="form-check-inline" for="{{.Name}}">{{.Label}}</label>
                                    {{else if eq .Type "paragraph"}}
                                        <legend>{{.Label}}</legend>
                                        <p class="lead">{{.Description}}</p>
                                    {{end}}

                                    {{if ne .Type "paragraph"}}
                                        <small class="form-text text-muted">{{.Description}}</small>
                                    {{end}}
                                </div>
                            {{end}}
                            {{if .HasComment}}
                                <div class="form-group form-check">
                                    <label for="{{.Name}}_comment">Comment</label>
                                    <textarea name="{{.Name}}_comment" id="{{.Name}}_comment" rows="3"
                                              class="form-control">{{.Comment.String}}</textarea>
                                </div>
                            {{end}}
                            <hr>
                        {{end}}

                        <input type="submit" class="btn btn-success btn-block btn-lg" value="Update">
                    </form>
                </div>
            {{end}}
        </div>
    </main>
{{end}}
{{define "foot"}}

    <script type="javascript">

        let messageForm = document.getElementById("messageForm");

        function replyToThis(id){
            messageForm.removeAttribute("action");

            messageForm.setAttribute("action", "/assignment/{{.Assignment.ID}}/submission/{{.User.ID}}/message?reply="+id)
            
        }
    </script>

{{end}}