{{define "title"}}User Submission{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <main role="main" class="container pt-3">
        <div class="row">
            <div class="col-12 mb-3">
                <!-- TODO brede : add link for back button to students -->
                <a href="{{ if .IsTeacher }}/admin/assignment/{{ .Assignment.ID }}/submissions {{ else }}/assignment/{{.Assignment.ID}}{{ end}}"
                   class="btn btn-outline-dark mb-3">Go Back</a>
                <div class="col my-1 container pt-3 jumbotron">
                    {{ if .Delivered }}

                        <h1 class="display-4">{{ .Course.Code }} {{ .Course.Name }}</h1>
                        <h2 class="display-5">{{ .Assignment.Name }} - {{ .User.Name }}</h2>

                        {{ range .AnswersAndFields }}
                            {{if eq .Field.Type "radio"}}
                                {{$F := .Field}}
                                {{$A := .Answer}}
                                {{$Value := ATOI $A.Value}}
                                {{$V := 1}}
                                <fieldset>
                                    <legend>{{$F.Label}}</legend>
                                    {{range SPLIT_CHOICES $F.Choices}}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{$F.Name}}" id="{{$F.Name}}_{{$V}}" value="{{$V}}"{{if eq $V $Value}} checked{{end}} disabled>
                                            <label class="form-check-label" for="{{$F.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{$F.Description}}</small>
                                </fieldset>
                            {{else}}
                                <div class="form-group{{if eq .Field.Type "checkbox"}} form-check{{end}} mb-3">
                                    {{if ne .Field.Type "checkbox"}}<label>{{ .Field.Label }}</label>{{end}}
                                    {{ if eq .Field.Type "text" }}
                                        <input type="text" class="form-control" value="{{ .Answer.Value}}" disabled>
                                    {{ else if eq .Field.Type "url" }}
                                        <br>
                                        <a href="{{.Answer.Value}}" target="_blank">{{.Answer.Value}}</a>
                                    {{ else if eq .Field.Type "textarea" }}
                                        <textarea class="form-control" disabled>{{ .Answer.Value}}</textarea>
                                    {{ else if eq .Field.Type "number" }}
                                        <input type="number" class="form-control" value="{{ .Answer.Value}}" disabled>
                                    {{ else if eq .Field.Type "checkbox" }}
                                        <input type="checkbox" class="form-check-input"{{if eq .Answer.Value "on"}} checked{{end}} disabled>
                                        <label class="form-check-inline" for="{{ .Field.Name }}">{{ .Field.Label }}</label>
                                    {{ end }}
                                    <small class="form-text text-muted">{{.Field.Description}}</small>
                                </div>
                            {{end}}
                            {{if .Field.HasComment}}
                                <div class="form-group form-check">
                                    <label>Comment <em>({{.Field.Label}})</em></label>
                                    <textarea class="form-control" disabled>{{.Answer.Comment}}</textarea>
                                </div>
                            {{end}}
                        {{ end }}

                    {{ else }}

                        <h1 class="display-4">This assignment has not yet been submitted.</h1>

                    {{ end }}

                </div>
            </div>
            {{if .IsTeacher}}
                <div class="col-12 mb-3">
                    {{range .MyReviews}}
                        <div class="card mb-3">
                            <div class="card-header bg-secondary">
                                <h5 class="card-title mb-0">Review by {{.Reviewer}}</h5>
                                <!-- TODO (Svein): Plugin for converting id to username -->
                            </div>
                            <div class="card-body">
                                {{range .Answers}}
                                    {{if eq .Type "radio"}}
                                        {{$R := .}}
                                        {{$V := 1}}
                                        <fieldset>
                                            <legend>{{$R.Label}}</legend>
                                            {{range SPLIT_CHOICES .Choices}}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="{{$R.Name}}" id="{{$R.Name}}_{{$V}}" value="{{$V}}">
                                                    <label class="form-check-label" for="{{$R.Name}}_{{$V}}">{{.}}</label>
                                                </div>
                                                {{$V = INCREMENT $V}}
                                            {{end}}
                                            <small class="form-text text-muted">{{.Description}}</small>
                                        </fieldset>
                                    {{else}}
                                        <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}} mb-3">
                                            {{if ne .Type "checkbox"}}<label for="{{ .Name }}">{{ .Label }}</label>{{end}}
                                            {{ if eq .Type "text" }}
                                                <input type="text" name="{{ .Name }}" id="{{ .Name }}" class="form-control" required>
                                            {{ else if eq .Type "url" }}
                                                <input type="url" name="{{ .Name }}" id="{{ .Name }}" class="form-control" required>
                                            {{ else if eq .Type "textarea" }}
                                                <textarea name="{{ .Name }}" id="{{ .Name }}" class="form-control" required></textarea>
                                            {{ else if eq .Type "number" }}
                                                <input type="number" name="{{ .Name }}" id="{{ .Name }}" class="form-control" required>
                                            {{ else if eq .Type "checkbox" }}
                                                <input type="checkbox" name="{{.Name}}" id="{{.Name}}" class="form-check-input">
                                                <label class="form-check-inline" for="{{ .Name }}">{{ .Label }}</label>
                                            {{ end }}
                                            <small class="form-text text-muted"></small>
                                        </div>
                                    {{end}}
                                    {{if .HasComment}}
                                        <div class="form-group form-check">
                                            <label for="{{.Name}}_comment">Comment <em>({{.Label}})</em></label>
                                            <textarea name="{{.Name}}_comment" id="{{.Name}}_comment" rows="3" class="form-control"></textarea>
                                        </div>
                                    {{end}}
                                {{end}}
                            </div>
                        </div>
                    {{end}}
                </div>
            {{else}}
                {{if .Delivered}}
                    <div class="col-12 pb-5">
                        <h2 class="display-4">Peer Review</h2>
                        <hr>
                        <form action="/assignment/{{.Assignment.ID}}/submission/{{.User.ID}}" method="post">
                            {{ range .Review.Form.Fields }}
                                {{if eq .Type "radio"}}
                                    {{$R := .}}
                                    {{$V := 1}}
                                    <fieldset>
                                        <legend>{{$R.Label}}</legend>
                                    {{range SPLIT_CHOICES .Choices}}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{$R.Name}}" id="{{$R.Name}}_{{$V}}" value="{{$V}}">
                                            <label class="form-check-label" for="{{$R.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                    </fieldset>

                                {{else}}
                                <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}} mb-3">
                                    {{if ne .Type "checkbox"}}<label for="{{ .Name }}">{{ .Label }}</label>{{end}}
                                    {{ if eq .Type "text" }}
                                        <input type="text" name="{{ .Name }}" id="{{ .Name }}" class="form-control" required>
                                    {{ else if eq .Type "url" }}
                                        <input type="url" name="{{ .Name }}" id="{{ .Name }}" class="form-control" required>
                                    {{ else if eq .Type "textarea" }}
                                        <textarea name="{{ .Name }}" id="{{ .Name }}" class="form-control" required></textarea>
                                    {{ else if eq .Type "number" }}
                                        <input type="number" name="{{ .Name }}" id="{{ .Name }}" class="form-control" required>
                                    {{ else if eq .Type "checkbox" }}
                                        <input type="checkbox" name="{{.Name}}" id="{{.Name}}" class="form-check-input">
                                        <label class="form-check-inline" for="{{ .Name }}">{{ .Label }}</label>
                                    {{ end }}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </div>
                                {{end}}
                            {{ end }}
                            <input type="hidden" name="review_id" value="{{.Review.ID}}">
                            <input type="submit" class="btn btn-success mt-5">
                        </form>
                    </div>
                {{end}}

            {{end}}
        </div>
    </main>
{{end}}
{{define "foot"}}{{end}}