{{define "title"}}User Submission{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    <main role="main" class="container pt-3">
        <div class="row">
            <div class="col-12 mb-3">
                <!-- TODO brede : add link for back button to students -->
                <a href="{{if .IsTeacher}}/admin/assignment/{{.Assignment.ID}}/submissions {{else}}/assignment/{{.Assignment.ID}}{{end}}"
                   class="btn btn-outline-dark mb-3">Go Backs</a>
                <div class="col my-1 container pt-3 jumbotron">
                    {{if .Delivered}}
                        <h1 class="display-4">Reviewing assignment: {{.Assignment.Name}}</h1>
                        <h4>{{.Course.Code}} {{.Course.Name}}</h4>

                        <hr>

                        <h3>Submission:</h3>

                        {{range .Answers}}
                            {{if eq .Type "radio"}}
                                {{$A := .}}
                                {{$Answer := ATOI .Answer}}
                                {{$V := 1}}
                                <fieldset>
                                    <legend>{{.Label}}</legend>
                                    {{range .Choices}}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{$A.Name}}" id="{{$A.Name}}_{{$V}}" value="{{$V}}"{{if eq $V $Answer}} checked{{end}} disabled>
                                            <label class="form-check-label" for="{{$A.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else if eq .Type "multi-checkbox"}}
                                {{$A := .}}
                                {{$Answer := ATOI .Answer}}
                                {{$V := 1}}
                                <fieldset>
                                    <legend>{{.Label}}</legend>
                                    {{range .Choices}}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="{{$A.Name}}" id="{{$A.Name}}_{{$V}}" value="{{$V}}"{{if eq $V $Answer}} checked{{end}} disabled>
                                            <label class="form-check-label" for="{{$A.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else}}
                                <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}} mb-3">
                                    {{if eq .Type "text"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <input type="text" name="{{.Name}}" id="{{.Name}}" class="form-control" value="{{.Answer}}" disabled>
                                    {{else if eq .Type "url"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <input type="url" name="{{.Name}}" id="{{.Name}}" class="form-control" value="{{.Answer}}" disabled>
                                    {{else if eq .Type "textarea"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <textarea name="{{.Name}}" id="{{.Name}}" class="form-control" disabled>{{.Answer}}</textarea>
                                    {{else if eq .Type "number"}}
                                        <label for="{{.Name}}">{{.Label}}</label>
                                        <input type="number" name="{{.Name}}" id="{{.Name}}" class="form-control" value="{{.Answer}}" disabled>
                                    {{else if eq .Type "checkbox"}}
                                        <input type="checkbox" name="{{.Name}}" id="{{.Name}}" class="form-check-input"{{if eq .Answer "on"}} checked{{end}} disabled>
                                        <label class="form-check-inline" for="{{.Name}}">{{.Label}}</label>
                                    {{else if eq .Type "paragraph"}}
                                        <legend>{{.Label}}</legend>
                                        <p class="lead">{{.Description}}</p>
                                    {{end}}

                                    {{if ne .Type "paragraph"}}
                                        <small class="form-text text-muted">{{.Description}}</small>
                                    {{end}}
                                </div>
                            {{end}}
                            {{if .HasComment}}
                                <div class="form-group form-check">
                                    <label for="{{.Name}}_comment">Comment <em>({{.Label}})</em></label>
                                    <textarea name="{{.Name}}_comment" id="{{.Name}}_comment" rows="3" class="form-control" disabled>{{.Comment.String}}</textarea>
                                </div>
                            {{end}}
                        {{end}}

                    {{else}}

                        <h1 class="display-4">This assignment has not yet been submitted.</h1>

                    {{end}}

                </div>
            </div>

            <div class="col-12 mb-3">
                <form action="/assignment/{{.Assignment.ID}}/submission/{{.User.ID}}" method="POST">
                {{range .Review.Form.Fields}}
                    {{if eq .Type "radio"}}
                        {{$A := .}}
                        {{$V := 1}}
                        <fieldset class="mb-3">
                            <legend>{{.Label}}</legend>
                            {{range .Choices}}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="{{$A.Name}}" id="{{$A.Name}}_{{$V}}" value="{{$V}}" required>
                                    <label class="form-check-label" for="{{$A.Name}}_{{$V}}">{{.}}</label>
                                </div>
                                {{$V = INCREMENT $V}}
                            {{end}}
                            <small class="form-text text-muted">{{.Description}}</small>
                        </fieldset>
                    {{else if eq .Type "multi-checkbox"}}
                        {{$A := .}}
                        {{$V := 1}}
                        <fieldset class="mb-3">
                            <legend>{{.Label}}</legend>
                            {{range .Choices}}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="{{$A.Name}}" id="{{$A.Name}}_{{$V}}" value="{{$V}}" required>
                                    <label class="form-check-label" for="{{$A.Name}}_{{$V}}">{{.}}</label>
                                </div>
                                {{$V = INCREMENT $V}}
                            {{end}}
                            <small class="form-text text-muted">{{.Description}}</small>
                        </fieldset>
                    {{else}}
                        <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}} mb-3">
                            {{if eq .Type "text"}}
                                <label for="{{.Name}}">{{.Label}}</label>
                                <input type="text" name="{{.Name}}" id="{{.Name}}" class="form-control" required>
                            {{else if eq .Type "url"}}
                                <label for="{{.Name}}">{{.Label}}</label>
                                <input type="url" name="{{.Name}}" id="{{.Name}}" class="form-control" required>
                            {{else if eq .Type "textarea"}}
                                <label for="{{.Name}}">{{.Label}}</label>
                                <textarea name="{{.Name}}" id="{{.Name}}" class="form-control" required></textarea>
                            {{else if eq .Type "number"}}
                                <label for="{{.Name}}">{{.Label}}</label>
                                <input type="number" name="{{.Name}}" id="{{.Name}}" class="form-control" required>
                            {{else if eq .Type "checkbox"}}
                                <input type="checkbox" name="{{.Name}}" id="{{.Name}}" class="form-check-input">
                                <label class="form-check-inline" for="{{.Name}}">{{.Label}}</label>
                            {{else if eq .Type "paragraph"}}
                                <h3>{{.Label}}</h3>
                                <p class="lead">{{.Description}}</p>
                                <hr>
                            {{end}}

                            {{if ne .Type "paragraph"}}
                                <small class="form-text text-muted">{{.Description}}</small>
                            {{end}}
                        </div>
                    {{end}}
                    {{if .HasComment}}
                        <div class="form-group form-check">
                            <label for="{{.Name}}_comment">Comment <em>({{.Label}})</em></label>
                            <textarea name="{{.Name}}_comment" id="{{.Name}}_comment" rows="3" class="form-control">{{.Comment.String}}</textarea>
                        </div>
                    {{end}}
                {{end}}

                <input type="submit" class="btn btn-primary">
                </form>
            </div>

            {{if .IsTeacher}}
                <div class="col-12 mb-3">
                    {{range .MyReviews}}
                        <div class="card mb-3">
                            <div class="card-header bg-secondary">
                                <h5 class="card-title mb-0">Review by {{.Reviewer}}</h5>
                                <!-- TODO (Svein): Plugin for converting id to username -->
                            </div>
                            <div class="card-body">
                                {{range .Answers}}
                                    {{if eq .Type "radio"}}
                                        {{$A := .}}
                                        {{$Answer := ATOI .Answer}}
                                        {{$V := 1}}
                                        <fieldset>
                                            <legend>{{.Label}}</legend>
                                            {{range .Choices}}
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="{{$A.Name}}" id="{{$A.Name}}_{{$V}}" value="{{$V}}"{{if eq $V $Answer}} checked{{end}}>
                                                    <label class="form-check-label" for="{{$A.Name}}_{{$V}}">{{.}}</label>
                                                </div>
                                                {{$V = INCREMENT $V}}
                                            {{end}}
                                            <small class="form-text text-muted">{{.Description}}</small>
                                        </fieldset>
                                    {{else if eq .Type "multi-checkbox"}}
                                        {{$A := .Answer}}
                                        {{$Value := SPLIT_STRING $A.Value ","}}
                                        {{$V := 1}}
                                        <fieldset>
                                            <legend>{{.Label}}</legend>
                                            {{range SPLIT_CHOICES .Choices}}
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="{{.Name}}" id="{{.Name}}_{{$V}}" value="{{$V}}"{{if CONTAINS (ITOA $V) $Value}} checked{{end}}>
                                                    <label class="form-check-label" for="{{.Name}}_{{$V}}">{{.}}</label>
                                                </div>
                                                {{$V = INCREMENT $V}}
                                            {{end}}
                                            <small class="form-text text-muted">{{.Description}}</small>
                                        </fieldset>
                                    {{else}}
                                        <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}} mb-3">
                                            {{if eq .Type "text"}}
                                                <label for="{{.Name}}">{{.Label}}</label>
                                                <input type="text" name="{{.Name}}" id="{{.Name}}" class="form-control" value="{{.Answer}}" required>
                                            {{else if eq .Type "url"}}
                                                <label for="{{.Name}}">{{.Label}}</label>
                                                <input type="url" name="{{.Name}}" id="{{.Name}}" class="form-control" value="{{.Answer}}" required>
                                            {{else if eq .Type "textarea"}}
                                                <label for="{{.Name}}">{{.Label}}</label>
                                                <textarea name="{{.Name}}" id="{{.Name}}" class="form-control" required>{{.Answer}}</textarea>
                                            {{else if eq .Type "number"}}
                                                <label for="{{.Name}}">{{.Label}}</label>
                                                <input type="number" name="{{.Name}}" id="{{.Name}}" class="form-control" value="{{.Answer}}" required>
                                            {{else if eq .Type "checkbox"}}
                                                <input type="checkbox" name="{{.Name}}" id="{{.Name}}" class="form-check-input"{{if eq .Answer "on"}} checked{{end}}>
                                                <label class="form-check-inline" for="{{.Name}}">{{.Label}}</label>
                                            {{else if eq .Type "paragraph"}}
                                                <legend>{{.Label}}</legend>
                                                <p class="lead">{{.Description}}</p>
                                            {{end}}

                                            {{if ne .Type "paragraph"}}
                                                <small class="form-text text-muted">{{.Description}}</small>
                                            {{end}}
                                        </div>
                                    {{end}}
                                    {{if .HasComment}}
                                        <div class="form-group form-check">
                                            <label for="{{.Name}}_comment">Comment <em>({{.Label}})</em></label>
                                            <textarea name="{{.Name}}_comment" id="{{.Name}}_comment" rows="3" class="form-control">{{.Comment.String}}</textarea>
                                        </div>
                                    {{end}}
                                {{end}}
                            </div>
                        </div>
                    {{end}}
                </div>

            {{end}}
        </div>
    </main>
{{end}}
{{define "foot"}}{{end}}