{{define "title"}}Upload Assignment{{end}}
{{define "head"}}{{end}}
{{ define "content" }}
    <main role="main" class="container">
        <div class="col my-3">
            <a href="/assignment/{{ .Assignment.ID }}" class="btn btn-outline-dark mb-3">Go Back</a>
            <div class="col my-1 container pt-3 jumbotron">


                <h1 class="display-4">{{ .Course.Code }} {{ .Course.Name }}</h1>
                <h2 class="display-5">{{ .Assignment.Name }}</h2>
                <p class="lead" id="countDown"><strong>Deadline: </strong>{{ PRETTYTIME .Assignment.Deadline }}</p> <!-- TODO time change back to countdown -->
                <form method="post" action="/assignment/submission/update?id={{ .Assignment.ID }}">

                    <!-- TODO (Brede) : This could be one for each loop with only .AnswersAndFields -->
                    {{ if .Delivered }}
                        {{ range .Answers }}
                            {{if eq .Type "radio"}}
                                {{$A := .Answer}}
                                {{$Value := ATOI $A.Value}}
                                {{$V := 1}}
                                <fieldset>
                                    <legend>{{.Label}}</legend>
                                    {{range SPLIT_CHOICES .Choices}}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{.Name}}"
                                                   id="{{.Name}}_{{$V}}"
                                                   value="{{$V}}"{{if eq $V $Value}} checked{{end}}>
                                            <label class="form-check-label" for="{{.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else if eq .Type "multi-checkbox"}}
                                {{$A := .Answer}}
                                {{$Value := SPLIT_STRING $A.Value ","}}
                                {{$V := 1}}
                                <fieldset>
                                    <legend>{{.Label}}</legend>
                                    {{range SPLIT_CHOICES .Choices}}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="{{.Name}}"
                                                   id="{{.Name}}_{{$V}}"
                                                   value="{{$V}}"{{if CONTAINS (ITOA $V) $Value}} checked{{end}}>
                                            <label class="form-check-label" for="{{.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else}}
                                <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}} mb-3">
                                    {{if ne .Type "checkbox"}}<label for="{{ .Name }}">{{ .Label }}</label>{{end}}
                                    {{ if eq .Type "text" }}
                                        <input type="text" name="{{ .Name }}" id="{{ .Name }}" class="form-control"
                                               value="{{ .Answer}}" required>
                                    {{ else if eq .Type "url" }}
                                        <input type="url" name="{{ .Name }}" id="{{ .Name }}" class="form-control"
                                               value="{{ .Answer}}" required>
                                    {{ else if eq .Type "textarea" }}
                                        <textarea name="{{ .Name }}" id="{{ .Name }}" class="form-control"
                                                  required>{{ .Answer}}</textarea>
                                    {{ else if eq .Type "number" }}
                                        <input type="number" name="{{ .Name }}" id="{{ .Name }}" class="form-control"
                                               value="{{ .Answer}}" required>
                                    {{ else if eq .Type "checkbox" }}
                                        <input type="checkbox" name="{{.Name}}" id="{{.Name}}"
                                               class="form-check-input"{{if eq .Answer "on"}} checked{{end}}>
                                        <label class="form-check-inline" for="{{ .Name }}">{{ .Label }}</label>
                                    {{else if eq .Type "paragraph"}}
                                        <p class="lead">{{.Description}}</p>
                                    {{ end }}

                                    {{if ne .Type "paragraph"}}
                                        <small class="form-text text-muted">{{.Description}}</small>
                                    {{end}}
                                </div>
                            {{end}}
                            {{if .HasComment}}
                                <div class="form-group form-check">
                                    <label for="{{.Name}}_comment">Comment <em>({{.Label}})</em></label>
                                    <textarea name="{{.Name}}_comment" id="{{.Name}}_comment" rows="3"
                                              class="form-control">{{.Comment.String}}</textarea>
                                </div>
                            {{end}}
                        {{ end }}
                    {{ else }}
                        {{ range .Fields }}
                            {{if eq .Type "radio"}}
                                {{$R := .}}
                                {{$V := 1}}
                                <fieldset>
                                    <legend>{{$R.Label}}</legend>
                                    {{range SPLIT_CHOICES .Choices}}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{$R.Name}}"
                                                   id="{{$R.Name}}_{{$V}}" value="{{$V}}">
                                            <label class="form-check-label" for="{{$R.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else if eq .Type "multi-checkbox"}}
                                {{$R := .}}
                                {{$V := 1}}
                                <fieldset>
                                    <legend>{{$R.Label}}</legend>
                                    {{range SPLIT_CHOICES .Choices}}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="{{$R.Name}}"
                                                   id="{{$R.Name}}_{{$V}}" value="{{$V}}">
                                            <label class="form-check-label" for="{{$R.Name}}_{{$V}}">{{.}}</label>
                                        </div>
                                        {{$V = INCREMENT $V}}
                                    {{end}}
                                    <small class="form-text text-muted">{{.Description}}</small>
                                </fieldset>
                            {{else}}
                                <div class="form-group{{if eq .Type "checkbox"}} form-check{{end}} mb-3">
                                    {{if ne .Type "checkbox"}}<label for="{{ .Name }}">{{ .Label }}</label>{{end}}
                                    {{ if eq .Type "text" }}
                                        <input type="text" name="{{ .Name }}" id="{{ .Name }}" class="form-control"
                                               required>
                                    {{ else if eq .Type "url" }}
                                        <input type="url" name="{{ .Name }}" id="{{ .Name }}" class="form-control"
                                               required>
                                    {{ else if eq .Type "textarea" }}
                                        <textarea name="{{ .Name }}" id="{{ .Name }}" class="form-control"
                                                  required></textarea>
                                    {{ else if eq .Type "number" }}
                                        <input type="number" name="{{ .Name }}" id="{{ .Name }}" class="form-control"
                                               required>
                                    {{ else if eq .Type "checkbox" }}
                                        <input type="checkbox" name="{{.Name}}" id="{{.Name}}" class="form-check-input">
                                        <label class="form-check-inline" for="{{ .Name }}">{{ .Label }}</label>
                                    {{else if eq .Type "paragraph"}}
                                        <p class="lead">{{.Description}}</p>
                                    {{ end }}

                                    {{if ne .Type "paragraph"}}
                                        <small class="form-text text-muted">{{.Description}}</small>
                                    {{end}}
                                </div>
                            {{end}}
                            {{if .HasComment}}
                                <div class="form-group form-check">
                                    <label for="{{.Name}}_comment">Comment <em>({{.Label}})</em></label>
                                    <textarea name="{{.Name}}_comment" id="{{.Name}}_comment" rows="3"
                                              class="form-control"></textarea>
                                </div>
                            {{end}}
                        {{ end }}
                    {{ end }}


                    {{ if .Delivered }}
                        <button id="uploadBtn" type="submit" class="btn btn-success mt-5">Re-deliver assignment</button>
                    {{ else }}
                        <button id="uploadBtn" type="submit" class="btn btn-primary mt-5">Deliver assignment</button>
                    {{ end }}
                </form>
            </div>
        </div>
    </main>

{{ end }}
{{define "foot"}}
    <script src="/static/js/time.js"></script>
    <script>
        // TODO uncomment this
        /*
        // Source: https://www.w3schools.com/howto/howto_js_countdown.asp

        // Set the date we're counting down to
        let countDownDate = new Date({{ .Assignment.Deadline }}); // TODO time this converts to wrong timezone
        // let countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();

        console.log({{.Assignment.Deadline}});
        console.log(countDownDate);
        console.log(getTimeInNorwegian());

        // Update the count down every 1 second
        let x = setInterval(function () {

            // Get todays date and time
            let now = getTimeInNorwegian(); // TODO time-norwegian

            // Find the distance between now and the count down date
            let distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            let days = Math.floor(distance / (1000 * 60 * 60 * 24));
            let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            let seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="demo"
            document.getElementById("countDown").innerHTML = "<strong>Time left: </strong>" + days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // Give warning if it's under 1 hour left
            if (distance < (1000 * 60 * 60)) {
                document.getElementById("countDown").className = "text-warning";
            }

            // If the count down is over, output 'EXPIRED' and disable everything
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countDown").className = "text-danger";
                document.getElementById("countDown").innerHTML = "EXPIRED";
                document.getElementById("uploadBtn").disabled = true;

                {{ range .Fields }}
                document.getElementById({{ .Name }}).disabled = true;
                {{ end }}
            }
        }, 1000);
        */
    </script>
{{end}}