{{define "title"}}Create Submission{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    {{if .Errors}}
        {{range .Errors}}
            <div class="alert alert-warning">{{.}}</div>
        {{end}}
    {{end}}
    <div class="row" id="output"></div>
{{end}}
{{define "foot"}}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="/static/js/form-builder.js"></script>
<script>
    new FormBuilder({
        title: 'Create new Submission Form',
        description: '',
        request: '/admin/submission/create',
        output: document.getElementById('output'),
    });
</script>
{{end}}