{{define "title"}}Create Submission{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="row">
    <div class="col-12">
        <h1 class="display-4">Submission Forms <a href="/admin/submission/create" class="btn btn-success">New Submission Form</a></h1>
        <hr>
    </div>
</div>

<div class="row">
    {{range .Submissions}}
    <div class="col-md-4">
        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <h5 class="card-title">{{.Form.Name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{PRETTYTIME .Form.Created}}</h6>
                <div class="btn-group btn-group-sm">
                    <a href="/admin/submission/update/{{.FormID}}" class="btn btn-outline-dark">Edit Form</a>
                    <a href="/admin/submission/update/{{.FormID}}/weights" class="btn btn-outline-dark">Edit weights</a>
                </div>
            </div>
        </div>
    </div>
    {{end}}
</div>
{{end}}
{{define "foot"}}{{end}}