{{define "title"}}Update Submission{{end}}
{{define "head"}}{{end}}
{{define "content"}}
    {{if .Errors}}
        {{range .Errors}}
            <div class="alert alert-warning">{{.}}</div>
        {{end}}
    {{end}}
    <div class="row" id="output"></div>
{{end}}
{{define "foot"}}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<script src="/static/js/form-builder.js"></script>
<script>
    let formBuilder = new FormBuilder({
        title: 'Update Submission Form',
        description: '',
        request: '/admin/submission/update',
        output: document.getElementById('output'),
        deleteRequest: '/admin/submission/delete',
        weighted: false,
    });

    formBuilder.import({{.formJSON}})
</script>
{{end}}